footer{
	background-color: $secondary-200;
	border-top: $border-width $border-style $body-color;
	font-size: $sub-sup-font-size;
	margin-top: auto;
	padding-top: map-get($spacers, 2);
	padding-bottom: map-get($spacers, 2);
	text-align: center;
}