header{
	background-color: $secondary-200;
	border-bottom: $border-width $border-style $border-color;
	.navbar-brand-h1{
		margin: 0;
		font-size: $font-size-lg;
		font-weight: $font-weight-bold; 
		color: $dark;
	}
	.navbar-toggler{
		background-color: $primary;
		
	}
	.navbar-nav{
		.nav-link{
			&:hover, &.hover{
				color: $secondary;
			}
			&:active, &.active{
				color: $dark;
			}
		}
	}
	.btn{
		border-radius: $border-radius-pill;
		padding: $btn-padding-y-sm $btn-padding-x;
		margin-left: map-get($spacers, 1);
		margin-right: map-get($spacers, 1);
	}
	.dropdown-menu {
		--bs-dropdown-border-color: var(--bs-border-color);
		--bs-dropdown-border-radius: var(--bs-border-radius-xl);
		--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius-xl) - var(--bs-border-width));
		--bs-dropdown-link-hover-bg: var(--bs-primary);
		--bs-dropdown-link-active-bg: var(--bs-primary);
		overflow: hidden;
		box-shadow: $box-shadow;
	}
}