header{
	background-color: $white;
	.navbar-brand-h1{
		margin: 0;
		font-size: $font-size-lg;
		font-weight: $font-weight-bold; 
		color: $dark;
		height: 3rem;
		> img{
			max-height: 100%;
		}
	}
	.navbar-toggler{
		background-color: $primary;
		
	}
	.navbar-nav{
		align-items: center;
		gap: 1rem;
		.nav-link{
			color: $dark;
			> i{
				font-size: 120%;
				margin-right: .25rem;
			}
			&:hover, &.hover{
				color: $secondary;
			}
			&:active, &.active{
				color: $dark;
				border-bottom: 3px solid $secondary;
				> i{
					color: $secondary;
				}
			}
		}
	}
	
	//註冊登入按鈕
	.btn{
		border-radius: $border-radius-pill;
		padding: $btn-padding-y-sm $btn-padding-x*1.5;
		margin-left: map-get($spacers, 1);
		margin-right: map-get($spacers, 1);
	}
	
	//使用者
	.dropdown-toggle{
	  display: flex;
    padding: $nav-link-padding-y*.5 $nav-link-padding-x;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
    color: $dark;
		background-color: $tertiary-100;
		border-radius: $border-radius-pill;
		align-items: center;
		gap: .5rem;
		.user-avatar{
			width: 2rem;
			height: 2rem;
			border-radius: 100%;
			background-color: $tertiary;
			img{
				max-width: 100%;
				max-height: 100%;
				
			}
		}
		.user-account{
			line-height: $line-height-sm;
			margin-right: $nav-link-padding-x;
			.user-account-hello{
				font-size: 75%;
			}
			.user-account-name{
				
			}
		}
			&::after {
				position: absolute;
				top: 50%;
				right: $nav-link-padding-x*1.5*.5;
				transform: translateY(-50%);
			}
			&:hover{
				background-color: $tertiary-200;	
			}
	}
	
	.dropdown-menu {
		--bs-dropdown-border-color: 0;
		--bs-dropdown-border-radius: var(--bs-border-radius-xl);
		--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius-xl) - var(--bs-border-width));
		--bs-dropdown-link-hover-bg: var(--bs-tertiary-200);
		--bs-dropdown-link-active-bg: var(--bs-tertiary-200);
		overflow: hidden;
		box-shadow: $box-shadow;
		background-color: $tertiary-100;
		.dropdown-item{
			&:hover, &:focus, &:active{
				color: var(--bs-dropdown-link-hover-color);
			  background-color: $tertiary-200;	
			}
		}
	}
}
