* { box-sizing: border-box; }

body { padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei"; color: #333333 !important; }

.wrapper { width: 960px; margin: 10px auto; }

.paddingWrapper { padding: 0px 15px; }

br { line-height: 1; }

hr { margin: 20px 15px; border: none; border-top: 1px solid #ebebeb !important; }

.redWords { color: #bf2320 !important; }

.blueWords, .correctAns { color: #bf2320 !important; font-weight: bold; }

.grid { display: grid; }
.grid.grid-2 { grid-template-columns: 1fr 1fr; }
.grid.grid-3 { grid-template-columns: 1fr 1fr 1fr; }
.grid.grid-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }

.integrateMark > li { line-height: 1.8; }
.integrateMark > li > span { display: block; width: auto; text-align: left; color: #333333 !important; }
.integrateMark > li i { text-indent: 0; }

.table-striped tbody tr:nth-child(odd) { background-color: #FFF !important; }
.table-striped tbody tr:nth-child(even) { background-color: #f9f9f9 !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.forPeople { position: relative; }
.forPeople .people { width: 100%; height: auto; position: absolute; bottom: 0px; left: 0px; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
h3 { text-align: center; background-color: #921d22 !important; color: #FFF !important; font-size: 24px; }
h3 > div { background-size: 100% 100%; padding: 7px 0px; }

h4 { background: linear-gradient(to right, #f08968 0%, #fbe3dc 100%) !important; color: #fff7e0 !important; font-size: 20px; padding: 5px 15px; margin: 0px 0px 15px 0px; text-shadow: 0 0 5px rgba(86, 37, 32, 0.25), 1px 1px 2px rgba(86, 37, 32, 0.5) !important; }
h4 > .fa, h4 > i { color: #fff !important; margin-left: -15px; margin-right: 5px; text-shadow: none; }

h5 { background-image: url(../images/paper/spot2.png); background-repeat: no-repeat; background-position: 0px 1px; background-size: 20px auto; font-size: 1em; padding-left: 20px; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
ul.paperData { padding: 15px 15px 30px 15px; }
ul.paperData li { width: 50%; float: left; line-height: 37px; border-bottom: 1px dashed #898989 !important; background-image: url(../images/paper/spot.png); background-repeat: no-repeat; background-position: 0px 3px; background-size: 30px auto; text-indent: 28px; font-weight: bold; }
ul.paperData li span { color: #231815 !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.frontCover { background-size: 100% 100%; }

.titleCover { background-image: url(../images/pdf/titleCover-bg.jpg); background-size: 100% 100%; }

.endCover { background-image: url(../images/pdf/endCover-bg.jpg); background-size: 100% 100%; }

ul.paperData-integrate li span { color: #231815 !important; }

table.integrateTable th, table.integrateTable td { border-color: #ffb669 !important; }
table.integrateTable thead th, table.integrateTable thead td, table.integrateTable .thead th, table.integrateTable .thead td { background-color: #ff8503 !important; }
table.integrateTable tbody th, table.integrateTable tbody td, table.integrateTable .tbody th, table.integrateTable .tbody td { background-color: #fff7e0 !important; color: #231815 !important; font-weight: bold; }

.integrate h2 .icon { background-color: #f29b7f !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.scoreBlock { margin: 15px 0px; }
.scoreBlock .pen { height: 30px; padding: 0px 65px 0px 47px; background-image: url(../images/paper/penHead.png); background-repeat: no-repeat; position: relative; font-weight: bold; font-size: 1.2em; }
.scoreBlock .pen .myPen, .scoreBlock .pen .allPen { min-width: 13%; height: 100%; background-position: right; background-repeat: no-repeat; }
.scoreBlock .pen .myPen { background-image: url(../images/paper/penOrange.png); }
.scoreBlock .pen .allPen { background-image: url(../images/paper/penRed.png); }
.scoreBlock .pen .myPenWidth, .scoreBlock .pen .allPenWidth { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; padding: 0px 65px 0px 47px; }
.scoreBlock .pen .myPenScore, .scoreBlock .pen .allPenScore { height: 100%; text-indent: 0.5em; position: relative; }
.scoreBlock .pen .myScore, .scoreBlock .pen .allScore { position: absolute; top: 50%; right: 0; transform: translate(100%, -50%); white-space: nowrap; text-indent: 0; font-size: 30px; font-weight: bold; }
.scoreBlock .pen .myScore { color: #595757 !important; }
.scoreBlock .pen .allScore { color: #8c8a8a !important; }
.scoreBlock .rulerBar { width: 100%; height: 56px; background-image: url(../images/paper/ruler.png); margin-top: 10px; background-position: center top; background-repeat: no-repeat; }

.mark table td { padding: 5px 0; }

.block2 { background-color: #f7f7f7 !important; border: 1px solid #d8d7d7 !important; margin-bottom: 6px; }

table.table-dimension { text-align: center; }
table.table-dimension th, table.table-dimension td { border-top: 1px dashed #d8d7d7 !important; border-right: 1px dashed #d8d7d7 !important; color: #333333 !important; }
table.table-dimension th:last-child, table.table-dimension td:last-child { border-right: none; }
table.table-dimension tr.thead th { border-top: none; font-weight: 700; padding: 5px; height: auto; color: #333333 !important; }
table.table-dimension tr.thead th:nth-child(1) { width: 6em; }
table.table-dimension tr.thead th:nth-child(2) { width: 5em; }
table.table-dimension tr.thead th:nth-child(3) { width: 5em; }
table.table-dimension tr.thead td { font-weight: 700; padding: 5px; color: #bf2320 !important; }
table.table-dimension tr th { font-weight: 700; height: 150px; color: #921d22 !important; }
table.table-dimension tr td { font-size: .9em; }
table.table-dimension .myItemScore { width: 25px; max-height: 125px; margin: 0 auto; background-image: url(../images/paper/myItemBar.png); background-repeat: repeat-y; background-position: center bottom; border-radius: 2px 2px 0 0; border: 1px solid #ff8503 !important; border-bottom: none; }
table.table-dimension .allItemScore { width: 25px; max-height: 125px; margin: 0 auto; background-image: url(../images/paper/allItemBar.png); background-repeat: repeat-y; background-position: center bottom; border-radius: 2px 2px 0 0; border: 1px solid #bf2320 !important; border-bottom: none; }
table.table-dimension .myItemScore span { background-color: #FFF !important; display: block; }
table.table-dimension .range { height: 30px; line-height: 1; margin: 5px 0px; padding: 3px 3px; text-shadow: 1px 1px #fff !important; font-size: 8px; color: #999 !important; background-color: #FAFAFA !important; border: 1px solid #ebebeb !important; border-radius: 50px; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5) !important; /*white-space: nowrap;*/ }
table.table-dimension .bar { width: 100%; height: 110px; margin: 0px auto; background-image: url(../images/paper/reward.png); background-position: center center; background-repeat: no-repeat; background-size: 85% auto; }
table.table-dimension .barGray { width: 100%; height: 110px; margin: 0px auto; background-image: url(../images/paper/rewardGray.png); background-position: center center; background-repeat: no-repeat; background-size: 85% auto; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.dimension-text { font-size: .95em; }
.dimension-text h4 { background: transparent !important; padding: 0px; }
.dimension-text h4 > span { background: #f29b7f !important; color: #fff7e0 !important; text-shadow: 0 0 5px rgba(86, 37, 32, 0.25), 1px 1px 2px rgba(86, 37, 32, 0.5) !important; padding: 5px 15px; border-radius: 20px; }
.dimension-text h4.h4-center { text-align: center; }
.dimension-text h4.h4-center > span { border-radius: 20px 20px 20px 20px; }
.dimension-text p { line-height: 1.5; text-indent: 2.2em; }
.dimension-text blockquote { padding-left: 5em; }
.dimension-text .ex { border: 1px solid #d8d7d7 !important; padding: 10px 15px; background-color: #f7f7f7 !important; color: #562520 !important; }
.dimension-text .ex > p { text-indent: 0px; }
.dimension-text .ex .ex-ans { border-top: 1px dashed #d8d7d7 !important; padding-top: 10px; margin: 10px -15px 0 -15px; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.left { width: 400px; float: left; padding-left: 15px; }
.left .medals { width: 100%; height: 0px; padding-bottom: 72%; background-size: cover; margin: 25px auto 10px auto; font-weight: bold; position: relative; }
.left .medals.medals-1 { background-image: url(../images/pdf/Medals-1.png); }
.left .medals.medals-2 { background-image: url(../images/pdf/Medals-2.png); }
.left .medals.medals-3 { background-image: url(../images/pdf/Medals-3.png); }
.left .medals.medals-4 { background-image: url(../images/pdf/Medals-4.png); }
.left .medals.medals-5 { background-image: url(../images/pdf/Medals-5.png); }
.left .medals > span { color: #562520 !important; font-size: 85px; position: absolute; width: 100%; text-align: center; margin-top: 100px; z-index: 10; text-shadow: 1px 1px rgba(255, 255, 255, 0.5); }
.left .medals .medalsMark { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; text-align: center; color: #FFF !important; background-repeat: no-repeat; background-size: cover; padding-top: 203px; font-size: 20px; }

.right { width: 560px; float: left; padding-right: 15px; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
p.indent { text-indent: 2em; }

.table-noraml { margin: 0px auto; }
.table-noraml th { font-weight: bold; }
.table-noraml th, .table-noraml td { height: 40px; border: 1px solid #999 !important; text-align: center; }
.table-noraml .fillMark { color: #C1C1C1 !important; }

.table { margin: 0px auto; }
.table th { text-align: center; }
.table th.noneSpacing { letter-spacing: inherit; }
.table th > span { letter-spacing: 0.14em; }
.table td { height: 42px; border-bottom: 1px solid #999 !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.forChart-yAxes-rotate { margin-top: -5px; padding-right: 10px; position: relative; }
.forChart-yAxes-rotate .yAxes-scaleLabel { width: 100%; height: auto; position: absolute; top: 0; left: 0; text-align: left; font-size: 14px; transform: translateY(calc(-100% - .5em)); }

.encouragingWords { text-align: center; width: calc(100% + 15px + 15px + 1px + 1px); margin: -15px -16px 0 -16px; background-color: #562520 !important; font-size: 0.9em; color: #f5f5f5 !important; padding: 5px 0px; border: 1px solid #ccc; border-bottom-width: 5px; }
.encouragingWords > label { font-weight: bold; font-size: 1em; text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important; color: #fff !important; color: #feebae !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/*set diffrent color*/
.parents .frontCover { background-image: url(../images/pdf/frontCover-parents.jpg); }
.parents table.frontCover-table th { color: #231815 !important; border-bottom-color: #a6a3a3 !important; }
.parents table.frontCover-table td { color: #595757 !important; border-bottom-color: #a6a3a3 !important; }
.parents h3 > div { background-image: url(../images/pdf/h3-line-parents.png) !important; }

/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/*@media print { body { color: #000 !important; } .scoreBlock { .pen { .myScore, .allScore { color: #000 !important; } } } .forChart-yAxes-rotate { .yAxes-scaleLabel { > span { color: #000 !important; } } } .scoreBlock { .pen { .allScore { color: #333 !important; } } } table.table-dimension { .range { color: #333 !important; } }
}*/
