@mixin CWS-modal-tab($color) {
    margin: -15px -15px 0 -15px;
        background-color: #f9f9f9;
        >.nav-justified{
            @media screen and (min-width: 768px) {
            position: relative;
            &::after{
                content: "";
                width:  15px + 21px;
                height: 1px;
                background-color: #ddd;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            }
            >li{
                >a{
                    font-size: .9rem;
                    border-radius:0;
					color:lighten($color-default-gray, 30%);
					font-weight:400;
					text-align:center;
					border-top:.25rem solid transparent;
                    border-bottom: 1px solid #ddd;
                    >small{
                        font-size: .8rem;
                        display: block;
                        color: lighten($color-default-gray, 10%);
                    }
                }
                >a:hover{
					color:lighten($color-default-gray, 10%);
					border-color:transparent;
					border-bottom-color: #ddd;
				}
            }
            >li.active{
				>a, >a:hover, >a:focus, >a:active,{
					border-radius:0;
					color: $color;
					border-color:#ddd;
					border-top:.25rem solid $color;
					border-bottom-color: #ddd;
                    @media screen and (min-width: 768px) {
                    border-bottom-color: #fff;   
                    }
					.tab-title{
						color:$color;
					}
				}
			} 
        }
}

