.index{
	.page-content{
		display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
	}
	.card{
		box-shadow: $box-shadow-sm;
		border-radius: $border-radius-xl;
	}
	.login-title{
		text-align: center;
		margin-bottom: map-get($spacers, 3);
		font-size: $h4-font-size;
		color: $quaternary-800;
	}
}
