@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; padding: 0px; margin: 0px; width: 100%; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

/**************************************/
* { box-sizing: border-box; }

/*.clearfix{*zoom:1;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; /* For IE 6/7 (trigger hasLayout) */ }

.clearfix { zoom: 1; }

body { font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-size: 20px; line-height: 20px; font-weight: normal; }

u { text-underline-offset: 4px !important; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* ******* ******* ******* ******* ******* ******* ******* */
.table-primary thead tr th > span, .table-primary tbody tr th > span, .table-personalityType tbody tr th .table-personalityType__title, .table-personalityType tbody tr th .table-personalityType__text { display: block; text-align: center; border: 2px solid #FFF; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1), -1px 1px 5px rgba(0, 0, 0, 0.1), 1px -1px 5px rgba(0, 0, 0, 0.1); }

.table-primary th, .table-primary td { padding: 6px; }

.report-mark { font-size: 0.9em; color: #595757; line-height: 1.4em; padding-left: calc(58px + 1em); text-indent: calc(-58px - 1em); }
.report-mark .mark { background-image: url(../images/mark-bg.png); background-repeat: repeat-x; background-size: 100% 100%; border: 1px solid #FFF; border-radius: 4px; color: #FFF; display: inline-block; text-align: center; width: 58px; text-indent: 0px; }

.visible-print-block { display: none; }
@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none; }
@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none; }
@media print { .visible-print-inline-block { display: inline-block !important; } }

.hidden-print { display: inherit; }
@media print { .hidden-print { display: none !important; } }

/**/
@media print { .report-wrapper { width: 1024px !important; height: 1448px !important; overflow: hidden !important; }
  .report-wrapper .report-wrapper__block1 .report-wrapper__block2 { height: 1376px !important; overflow: hidden !important; }
  .report-wrapper:not(:first-of-type) { padding-top: 5px !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 5px !important; border-top: 1px solid #fff100 !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 0 !important; border-top: 8px solid #94715a !important; }
  .report-wrapper:not(:last-of-type) { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px !important; border-bottom: 8px solid #94715a !important; } }
/* ******* ******* ******* ******* ******* ******* ******* */
.report-wrapper { width: 1024px; height: auto; margin: 0 auto; background-color: #1f654c; padding: 5px; border-bottom: 10px solid #c76c17; /**/ }
.report-wrapper .report-wrapper__block1 { padding: 5px; border: 1px solid #fff100; }
.report-wrapper .report-wrapper__block1 .report-wrapper__block2 { background-color: #f2f0e8; padding: 0 15px; border: 8px solid #94715a; height: auto; }
.report-wrapper .report-wrapper__footer { margin-left: -5px; margin-right: -5px; width: calc(100% + 5px + 5px); }
.report-wrapper .report-wrapper__footer > div { height: 45px; line-height: 43px; font-size: 0.9em; letter-spacing: 0.15em; color: #FFF; text-align: center; border-bottom: 2px solid #ddd8c3; }
.report-wrapper .report-wrapper__footer img, .report-wrapper .report-wrapper__footer svg { height: 35px; max-height: 35px; margin: 5px 10px; }
.report-wrapper:not(:first-of-type) { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 1px; border-top: none; }
.report-wrapper:not(:last-of-type) { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px; border-bottom: none; }
.report-wrapper:last-of-type { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 .report-wrapper__block2 { border-bottom: 8px solid #94715a !important; }
.report-wrapper .report-header { width: 100%; height: 0; padding-bottom: 26.05%; background-image: url(../images/PST/header.png); background-repeat: no-repeat; background-size: 100% 100%; text-indent: -9999px; overflow: hidden; }
.report-wrapper .report-data { margin: 10px 0; }
.report-wrapper .report-data table { table-layout: fixed; }
.report-wrapper .report-data table tr { background-image: linear-gradient(to right, #898989 25%, rgba(255, 255, 255, 0) 0%); background-position: bottom; background-size: 7px 1px; background-repeat: repeat-x; }
.report-wrapper .report-data table tr td { white-space: nowrap; overflow: hidden; background-image: url(../images/spot.png); background-repeat: no-repeat; background-position: left center; background-size: 31px auto; padding: 10px 0 10px 31px; color: #643f33; font-size: 1em; line-height: 1em; }
.report-wrapper .report-section { background-color: #FFF; border: 1px solid #643f33; border-radius: 18px; margin: 10px 5px 10px 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(0, 0, 0, 0.15), -1px 1px 5px rgba(0, 0, 0, 0.15), 1px -1px 5px rgba(0, 0, 0, 0.15); }
.report-wrapper .report-section .report-section_title { background-color: #009944; color: #FFF; text-align: center; font-size: 1.6em; line-height: 1em; font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-weight: bold; padding: 5px 0 7px 0; border-radius: 17px 17px 0 0; letter-spacing: 0.09em; }
.report-wrapper .report-section .report-section_content { padding: 5px; }
.report-wrapper .text-section { padding: 10px 15px; line-height: 1.6; margin-bottom: 10px; }
.report-wrapper .text-section .text-title { font-weight: bold; margin-bottom: .5rem; color: #00662d; font-size: 1em; line-height: 1.2; }
.report-wrapper .text-section .text-title::before { content: ""; display: inline-block; width: .8em; height: .8em; background: linear-gradient(to bottom right, #66c28f 0%, #66c28f 50%, #009944 50%, #009944 100%); border-radius: 5px; vertical-align: middle; margin-top: -.25em; margin-right: .25em; }
.report-wrapper .text-section .text-content { padding-left: 1.25em; font-size: 0.85em; }
.report-wrapper .text-section .text-content p { margin-bottom: 10px; }
.report-wrapper .text-section .text-content p:last-child { margin-bottom: 0; }
.report-wrapper .text-section .text-content ul li { padding-left: 1.25em; margin-bottom: 5px; }
.report-wrapper .text-section .text-content ul li strong { color: #008ad2; font-weight: bold; margin-left: -1.25em; }
.report-wrapper .text-section .text-content ul li strong::before { content: "â—"; display: inline-block; margin-right: .25em; }
.report-wrapper .workplace-section { margin: -5px; width: calc(100% + 5px*2); border-radius: 0 0 16px 16px; overflow: hidden; }
.report-wrapper .workplace-section img { display: block; }
.report-wrapper .report-section { border: 1px solid #fff; }
.report-wrapper .report-section .report-section_title { display: block; background-image: url(../images/PST/section-title.png); background-repeat: repeat-x; background-size: 100% 100%; }

.text-section .text-title { color: #1f654c; }
.text-section .text-title::before { background: linear-gradient(to bottom right, #00a73c 0%, #9ac717 50%, #1f654c 50%, #009944 100%); }

/* ******* ******* ******* ******* ******* ******* ******* */
.table-primary thead tr th > span { background-color: #1f654c; color: #FFF; padding: 6px; font-size: 0.9em; }
.table-primary tbody tr th > span { background-color: #ddd8c3; color: #4f4c3f; padding: 25px 0; font-size: 1.1em; font-weight: bold; }
.table-primary tbody tr td { font-size: 0.9em; color: #595757; line-height: 1.4em; padding: 6px 8px; vertical-align: middle; }

/*PAGE1*/
.table-personalityType tbody tr td { position: relative; }
.table-personalityType tbody tr td .table-personalityType__canvas { position: absolute; top: 0; left: 50%; width: 120%; transform: translateX(-50%) scale(0.95); }
.table-personalityType tbody tr th .table-personalityType__title { background-color: #d6eace; color: #377e39; font-weight: bold; font-size: 1.5em; padding: 10px 0; margin: 10px; position: relative; z-index: 1; }
.table-personalityType tbody tr th .table-personalityType__text { background-color: #d6eace; text-align: left; font-size: .9em; line-height: 1.6em; font-weight: normal; padding: 4px 15px; margin: 10px; min-height: calc(1.6em*9 + 8px); max-height: calc(1.6em*9 + 8px); overflow: hidden; position: relative; z-index: 1; margin-bottom: 0; }

.table-personalityTypeScore thead tr th { text-align: center; font-size: .9em; font-weight: bold; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; padding-bottom: 20px; }
.table-personalityTypeScore thead tr th:nth-child(1) { background-image: url(../images/PST/table-personalityType-1.png); color: #00a73c; }
.table-personalityTypeScore thead tr th:nth-child(2) { background-image: url(../images/PST/table-personalityType-2.png); color: #0068b7; }
.table-personalityTypeScore thead tr th:nth-child(3) { background-image: url(../images/PST/table-personalityType-3.png); color: #92308d; }
.table-personalityTypeScore thead tr th:nth-child(4) { background-image: url(../images/PST/table-personalityType-4.png); color: #a8005d; }
.table-personalityTypeScore thead tr th:nth-child(5) { background-image: url(../images/PST/table-personalityType-5.png); color: #c76c17; }
.table-personalityTypeScore tbody tr td { text-align: center; vertical-align: top; }
.table-personalityTypeScore tbody tr td h4 { font-size: .9em; font-weight: normal; margin-top: 4px; }
.table-personalityTypeScore tbody tr td h4 > small { display: block; font-size: 0.9em; margin-top: 2px; margin-bottom: 2px; font-weight: bold; }
.table-personalityTypeScore tbody tr td p { font-size: 0.8em; text-align: left; padding: 0 4px; margin-bottom: 2px; }
.table-personalityTypeScore tbody tr td:nth-child(1) h4 > small { color: #00a73c; }
.table-personalityTypeScore tbody tr td:nth-child(1) .table-personalityTypeScore__scoreTitle { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #58b431; border: 1px solid #00a73c; margin: 1px; font-size: .85em; }
.table-personalityTypeScore tbody tr td:nth-child(1) .table-personalityTypeScore__score { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 42px; background-color: #fff; border: 1px solid #00a73c; margin: 1px; }
.table-personalityTypeScore tbody tr td:nth-child(2) h4 > small { color: #0068b7; }
.table-personalityTypeScore tbody tr td:nth-child(2) .table-personalityTypeScore__scoreTitle { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #00a0e9; border: 1px solid #0068b7; margin: 1px; font-size: .85em; }
.table-personalityTypeScore tbody tr td:nth-child(2) .table-personalityTypeScore__score { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 42px; background-color: #fff; border: 1px solid #0068b7; margin: 1px; }
.table-personalityTypeScore tbody tr td:nth-child(3) h4 > small { color: #92308d; }
.table-personalityTypeScore tbody tr td:nth-child(3) .table-personalityTypeScore__scoreTitle { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #ab66a7; border: 1px solid #92308d; margin: 1px; font-size: .85em; }
.table-personalityTypeScore tbody tr td:nth-child(3) .table-personalityTypeScore__score { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 42px; background-color: #fff; border: 1px solid #92308d; margin: 1px; }
.table-personalityTypeScore tbody tr td:nth-child(4) h4 > small { color: #e50063; }
.table-personalityTypeScore tbody tr td:nth-child(4) .table-personalityTypeScore__scoreTitle { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #eb6b8d; border: 1px solid #e50061; margin: 1px; font-size: .85em; }
.table-personalityTypeScore tbody tr td:nth-child(4) .table-personalityTypeScore__score { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 42px; background-color: #fff; border: 1px solid #e50061; margin: 1px; }
.table-personalityTypeScore tbody tr td:nth-child(5) h4 > small { color: #f39800; }
.table-personalityTypeScore tbody tr td:nth-child(5) .table-personalityTypeScore__scoreTitle { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #ee7300; border: 1px solid #c76c17; margin: 1px; font-size: .85em; }
.table-personalityTypeScore tbody tr td:nth-child(5) .table-personalityTypeScore__score { display: inline-block; width: 44px; height: 44px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 42px; background-color: #fff; border: 1px solid #c76c17; margin: 1px; }

/*PAGE2*/
.table-valueType { width: calc(100% + 5px + 5px); margin-left: -5px; margin-right: -5px; }
.table-valueType .table-valueType__bar { display: inline-block; position: relative; height: 12px; border-radius: 10px; background-size: 100% 100%; }
.table-valueType .table-valueType__bar > label { position: absolute; width: 3em; top: -2px; text-align: center; }
.table-valueType thead tr th, .table-valueType thead tr td { font-size: 1.25em; line-height: 1em; text-align: center; padding: 2px 0; font-weight: bold; }
.table-valueType thead tr td:nth-child(1) { color: #004896; }
.table-valueType thead tr th:nth-child(2) { color: #643f33; border-left: 1px dashed #231815; border-right: 1px dashed #231815; }
.table-valueType thead tr td:nth-child(3) { color: #007851; }
.table-valueType tbody tr th, .table-valueType tbody tr td { line-height: 1em; padding: 8px 0; }
.table-valueType tbody tr td:nth-child(2) { font-size: 0.85em; color: #231815; text-align: right; padding-left: 2px; padding-right: 2px; }
.table-valueType tbody tr td:nth-child(2) .table-valueType__bar { background-color: #00a9eb; border: 1px solid #0068b7; background-image: url(../images/bar-blue.png); }
.table-valueType tbody tr td:nth-child(2) .table-valueType__bar > label { left: -3em; }
.table-valueType tbody tr th:nth-child(3) { font-size: 1em; color: #643f33; text-align: center; border-left: 1px dashed #231815; border-right: 1px dashed #231815; }
.table-valueType tbody tr td:nth-child(4) { font-size: 0.85em; color: #231815; text-align: left; padding-left: 2px; padding-right: 2px; }
.table-valueType tbody tr td:nth-child(4) .table-valueType__bar { background-color: #9ac717; border: 1px solid #00a73c; background-image: url(../images/bar-green.png); }
.table-valueType tbody tr td:nth-child(4) .table-valueType__bar > label { right: -3em; }
.table-valueType tbody tr:nth-child(odd) th, .table-valueType tbody tr:nth-child(odd) td { background-color: #f3f2ea; }

.table-degreefit { background-image: url(../images/PST/table-degreefit-bg.png); background-repeat: no-repeat; background-position: center bottom; background-size: 100% 100%; border-top: 1px solid #231815; border-bottom: 1px solid #231815; }
.table-degreefit tbody tr th { vertical-align: top; }
.table-degreefit tbody tr th .table-degreefit__score { display: block; font-size: 1.4em; line-height: 1.4em; color: #FFF; padding: 0.15em 0; text-align: center; }
.table-degreefit tbody tr td { vertical-align: top; font-size: .95em; line-height: 1.4em; padding-left: 10px; padding-right: 10px; overflow: hidden; }

.report-mark { padding-top: 5px; padding-bottom: 5px; padding-left: calc(58px + 1em + 10px); text-indent: calc(-58px - 1em); padding-right: 10px; font-size: 0.8em; margin-bottom: -5px; }

.table-dimensionalDescription { font-size: .9em; }
.table-dimensionalDescription th, .table-dimensionalDescription td { padding: 2px 6px; }
.table-dimensionalDescription tbody tr th > span { padding: 12px 0; font-size: 1.1em; }
.table-dimensionalDescription tbody tr td { border-bottom: 1px dashed #231815; }
.table-dimensionalDescription tbody tr:last-child td { border-bottom: none; }
