@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; padding: 0px; margin: 0px; width: 100%; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

/**************************************/
* { box-sizing: border-box; }

/*.clearfix{*zoom:1;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; /* For IE 6/7 (trigger hasLayout) */ }

.clearfix { zoom: 1; }

body { font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-size: 20px; line-height: 20px; font-weight: normal; }

u { text-underline-offset: 4px !important; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* ******* ******* ******* ******* ******* ******* ******* */
.table-primary thead tr th > span, .table-primary tbody tr th > span, .table-orientation tbody tr th:nth-child(1) > span { display: block; text-align: center; border: 2px solid #FFF; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1), -1px 1px 5px rgba(0, 0, 0, 0.1), 1px -1px 5px rgba(0, 0, 0, 0.1); }

.table-primary th, .table-orientation th, .table-primary td, .table-orientation td { padding: 6px; }

.report-mark { font-size: 0.9em; color: #595757; line-height: 1.4em; padding-left: calc(58px + 1em); text-indent: calc(-58px - 1em); }
.report-mark .mark { background-image: url(../images/mark-bg.png); background-repeat: repeat-x; background-size: 100% 100%; border: 1px solid #FFF; border-radius: 4px; color: #FFF; display: inline-block; text-align: center; width: 58px; text-indent: 0px; }

.visible-print-block { display: none; }
@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none; }
@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none; }
@media print { .visible-print-inline-block { display: inline-block !important; } }

.hidden-print { display: inherit; }
@media print { .hidden-print { display: none !important; } }

/**/
@media print { .report-wrapper { width: 1024px !important; height: 1448px !important; overflow: hidden !important; }
  .report-wrapper .report-wrapper__block1 .report-wrapper__block2 { height: 1376px !important; overflow: hidden !important; }
  .report-wrapper:not(:first-of-type) { padding-top: 5px !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 5px !important; border-top: 1px solid #fff100 !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 0 !important; border-top: 8px solid #94715a !important; }
  .report-wrapper:not(:last-of-type) { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px !important; border-bottom: 8px solid #94715a !important; } }
/* ******* ******* ******* ******* ******* ******* ******* */
.report-wrapper { width: 1024px; height: auto; margin: 0 auto; background-color: #1f654c; padding: 5px; border-bottom: 10px solid #c76c17; /**/ }
.report-wrapper .report-wrapper__block1 { padding: 5px; border: 1px solid #fff100; }
.report-wrapper .report-wrapper__block1 .report-wrapper__block2 { background-color: #ecf3cf; padding: 0 15px; border: 8px solid #94715a; height: auto; }
.report-wrapper .report-wrapper__footer { margin-left: -5px; margin-right: -5px; width: calc(100% + 5px + 5px); }
.report-wrapper .report-wrapper__footer > div { height: 45px; line-height: 43px; font-size: 0.9em; letter-spacing: 0.15em; color: #FFF; text-align: center; border-bottom: 2px solid #ddd8c3; }
.report-wrapper .report-wrapper__footer img, .report-wrapper .report-wrapper__footer svg { height: 35px; max-height: 35px; margin: 5px 10px; }
.report-wrapper:not(:first-of-type) { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 1px; border-top: none; }
.report-wrapper:not(:last-of-type) { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px; border-bottom: none; }
.report-wrapper:last-of-type { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 .report-wrapper__block2 { border-bottom: 8px solid #94715a !important; }
.report-wrapper .report-header { width: 100%; height: 0; padding-bottom: 26.05%; background-image: url(../images/WVST/header.png); background-repeat: no-repeat; background-size: 100% 100%; text-indent: -9999px; overflow: hidden; }
.report-wrapper .report-data { margin: 10px 0; }
.report-wrapper .report-data table { table-layout: fixed; }
.report-wrapper .report-data table tr { background-image: linear-gradient(to right, #898989 25%, rgba(255, 255, 255, 0) 0%); background-position: bottom; background-size: 7px 1px; background-repeat: repeat-x; }
.report-wrapper .report-data table tr td { white-space: nowrap; overflow: hidden; background-image: url(../images/spot.png); background-repeat: no-repeat; background-position: left center; background-size: 31px auto; padding: 10px 0 10px 31px; color: #643f33; font-size: 1em; line-height: 1em; }
.report-wrapper .report-section { background-color: #FFF; border: 1px solid #643f33; border-radius: 18px; margin: 10px 5px 10px 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(0, 0, 0, 0.15), -1px 1px 5px rgba(0, 0, 0, 0.15), 1px -1px 5px rgba(0, 0, 0, 0.15); }
.report-wrapper .report-section .report-section_title { background-color: #c76c17; color: #FFF; text-align: center; font-size: 1.6em; line-height: 1em; font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-weight: bold; padding: 5px 0 7px 0; border-radius: 17px 17px 0 0; letter-spacing: 0.09em; }
.report-wrapper .report-section .report-section_content { padding: 5px; }
.report-wrapper .text-section { padding: 10px 15px; line-height: 1.6; margin-bottom: 10px; }
.report-wrapper .text-section .text-title { font-weight: bold; margin-bottom: .5rem; color: #995312; font-size: 1em; line-height: 1.2; }
.report-wrapper .text-section .text-title::before { content: ""; display: inline-block; width: .8em; height: .8em; background: linear-gradient(to bottom right, #dda774 0%, #dda774 50%, #c76c17 50%, #c76c17 100%); border-radius: 5px; vertical-align: middle; margin-top: -.25em; margin-right: .25em; }
.report-wrapper .text-section .text-content { padding-left: 1.25em; font-size: 0.85em; }
.report-wrapper .text-section .text-content p { margin-bottom: 10px; }
.report-wrapper .text-section .text-content p:last-child { margin-bottom: 0; }
.report-wrapper .text-section .text-content ul li { padding-left: 1.25em; margin-bottom: 5px; }
.report-wrapper .text-section .text-content ul li strong { color: #008ad2; font-weight: bold; margin-left: -1.25em; }
.report-wrapper .text-section .text-content ul li strong::before { content: "●"; display: inline-block; margin-right: .25em; }
.report-wrapper .workplace-section { margin: -5px; width: calc(100% + 5px*2); border-radius: 0 0 16px 16px; overflow: hidden; }
.report-wrapper .workplace-section img { display: block; }
.report-wrapper .report-section .report-section_title { background-image: url(../images/WVST/section-title.png); background-repeat: repeat-x; background-size: 100% 100%; }

.text-section .text-title { color: #1f654c; }
.text-section .text-title::before { background: linear-gradient(to bottom right, #ca7322 0%, #f5ad0c 50%, #c76c17 50%, #f5ad0c 100%); }

/* ******* ******* ******* ******* ******* ******* ******* */
.table-primary thead tr th > span { background-color: #1f654c; color: #FFF; padding: 6px; font-size: 0.9em; }
.table-primary tbody tr th > span { background-color: #ddd8c3; color: #4f4c3f; padding: 25px 0; font-size: 1.1em; font-weight: bold; }
.table-primary tbody tr td { font-size: 0.9em; color: #595757; line-height: 1.4em; padding: 6px 8px; vertical-align: middle; }

/*PAGE1*/
.table-orientation th, .table-orientation td { border-bottom: 1px dashed #231815; border-right: 1px dashed #231815; }
.table-orientation th:last-child, .table-orientation td:last-child { border-right: none; }
.table-orientation thead tr th { color: #643f33; font-size: 1.5em; line-height: 1em; text-align: center; padding: 6px 6px 11px 6px; }
.table-orientation tbody tr th:nth-child(1) { padding: 6px 9px 6px 6px; }
.table-orientation tbody tr th:nth-child(1) > span { padding: 40px 0; text-align: center; color: #FFF; font-size: 1.25em; width: 100%; height: 100%; }
.table-orientation tbody tr td:nth-child(2) { font-size: 0.9em; line-height: 1.4em; padding: 6px 6px 6px 12px; }
.table-orientation tbody tr td:nth-child(3), .table-orientation tbody tr td:nth-child(4) { font-size: 1.5em; text-align: center; font-weight: bold; }
.table-orientation tbody tr:nth-child(1) th:nth-child(1) > span { background-color: #00afec; }
.table-orientation tbody tr:nth-child(1) td:nth-child(2) { color: #004896; }
.table-orientation tbody tr:nth-child(1) td:nth-child(3), .table-orientation tbody tr:nth-child(1) td:nth-child(4) { color: #0068b7; }
.table-orientation tbody tr:nth-child(2) th:nth-child(1) > span { background-color: #eb6112; }
.table-orientation tbody tr:nth-child(2) td:nth-child(2) { color: #c66419; }
.table-orientation tbody tr:nth-child(2) td:nth-child(3), .table-orientation tbody tr:nth-child(2) td:nth-child(4) { color: #eb6112; }
.table-orientation tbody tr:last-child th, .table-orientation tbody tr:last-child td { border-bottom: none; }

.orientation-explain { font-size: .9em; line-height: 1.5; color: #595757; display: flex; padding: 0px 20px 10px 20px; }
.orientation-explain .inside, .orientation-explain .outside { width: 10em; font-weight: bold; white-space: nowrap; flex: 1; }
.orientation-explain .inside::before, .orientation-explain .outside::before { content: "※"; }
.orientation-explain .inside + span, .orientation-explain .outside + span { width: calc(100% - 10em); }
.orientation-explain .inside { color: #00afec; }
.orientation-explain .outside { color: #eb6112; }

.orientation-explain + .orientation-explain { margin-bottom: 20px; }

.table-teacherType tbody tr td { height: calc(1.4em*3 + 6px + 6px); }
.table-teacherType tbody tr td .limit-height { max-height: 4.2em; overflow: hidden; }

.table-degreefit { background-image: url(../images/WVST/table-degreefit-bg.png); background-repeat: no-repeat; background-position: center bottom; background-size: 100% 100%; border-top: 1px solid #231815; border-bottom: 1px solid #231815; }
.table-degreefit tbody tr th { vertical-align: top; }
.table-degreefit tbody tr th .table-degreefit__score { display: block; font-size: 1.4em; line-height: 1.4em; color: #FFF; padding: 0.25em 0; margin-top: 10px; text-align: center; }
.table-degreefit tbody tr td { vertical-align: top; font-size: 1.1em; line-height: 1.4em; padding-left: 10px; padding-right: 10px; height: 120px; overflow: hidden; }

.table-adaptationDescription { margin-top: 2px; }
.table-adaptationDescription tbody { border-top: 1px solid #231815; border-bottom: 1px solid #231815; }
.table-adaptationDescription tbody tr th { padding: 8px 6px; }
.table-adaptationDescription tbody tr td { height: 5.6em; }
.table-adaptationDescription tbody tr td .limit-height { max-height: 5.6em; overflow: hidden; margin-top: -3px; margin-bottom: -3px; }

.report-mark { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #231815; margin-bottom: 5px; padding-left: calc(58px + 1em + 6px); text-indent: calc(-58px - 1em); }

/*PAGE2*/
.table-valueType { width: calc(100% + 5px + 5px); margin-left: -5px; margin-right: -5px; }
.table-valueType .table-valueType__bar { display: inline-block; position: relative; height: 17px; border-radius: 10px; background-size: 100% 100%; }
.table-valueType .table-valueType__bar > label { position: absolute; width: 3em; top: -2px; text-align: center; }
.table-valueType thead tr th, .table-valueType thead tr td { font-size: 1.4em; line-height: 1em; text-align: center; padding: 15px 0; font-weight: bold; }
.table-valueType thead tr td:nth-child(1) { color: #004896; }
.table-valueType thead tr th:nth-child(2) { color: #643f33; border-left: 1px dashed #231815; border-right: 1px dashed #231815; }
.table-valueType thead tr td:nth-child(3) { color: #007851; }
.table-valueType tbody tr th, .table-valueType tbody tr td { line-height: 1em; padding: 10px 0; }
.table-valueType tbody tr td:nth-child(2) { font-size: 0.9em; color: #231815; text-align: right; padding-left: 2px; padding-right: 2px; }
.table-valueType tbody tr td:nth-child(2) .table-valueType__bar { background-color: #00a9eb; border: 1px solid #0068b7; background-image: url(../images/bar-blue.png); }
.table-valueType tbody tr td:nth-child(2) .table-valueType__bar > label { left: -3em; }
.table-valueType tbody tr th:nth-child(3) { font-size: 1.1em; color: #643f33; text-align: center; border-left: 1px dashed #231815; border-right: 1px dashed #231815; }
.table-valueType tbody tr td:nth-child(4) { font-size: 0.9em; color: #231815; text-align: left; padding-left: 2px; padding-right: 2px; }
.table-valueType tbody tr td:nth-child(4) .table-valueType__bar { background-color: #9ac717; border: 1px solid #00a73c; background-image: url(../images/bar-green.png); }
.table-valueType tbody tr td:nth-child(4) .table-valueType__bar > label { right: -3em; }
.table-valueType tbody tr:nth-child(odd) th, .table-valueType tbody tr:nth-child(odd) td { background-color: #f3f2ea; }

.table-dimensionalDescription th, .table-dimensionalDescription td { padding: 2px 6px; }
.table-dimensionalDescription tbody tr th > span { padding: 20px 0; }
.table-dimensionalDescription tbody tr td { border-bottom: 1px dashed #231815; }
.table-dimensionalDescription tbody tr:last-child td { border-bottom: none; }
