@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; padding: 0px; margin: 0px; width: 100%; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

/**************************************/
* { box-sizing: border-box; }

/*.clearfix{*zoom:1;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; /* For IE 6/7 (trigger hasLayout) */ }

.clearfix { zoom: 1; }

body { font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-size: 20px; line-height: 20px; font-weight: normal; }

u { text-underline-offset: 4px !important; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* ******* ******* ******* ******* ******* ******* ******* */
.report-mark { font-size: 0.9em; color: #595757; line-height: 1.4em; padding-left: calc(58px + 1em); text-indent: calc(-58px - 1em); }
.report-mark .mark { background-image: url(../images/mark-bg.png); background-repeat: repeat-x; background-size: 100% 100%; border: 1px solid #FFF; border-radius: 4px; color: #FFF; display: inline-block; text-align: center; width: 58px; text-indent: 0px; }

.visible-print-block { display: none; }
@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none; }
@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none; }
@media print { .visible-print-inline-block { display: inline-block !important; } }

.hidden-print { display: inherit; }
@media print { .hidden-print { display: none !important; } }

/**/
@media print { .report-wrapper { width: 1024px !important; height: 1448px !important; overflow: hidden !important; }
  .report-wrapper .report-wrapper__block1 .report-wrapper__block2 { height: 1376px !important; overflow: hidden !important; }
  .report-wrapper:not(:first-of-type) { padding-top: 5px !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 5px !important; border-top: 1px solid #fff100 !important; }
  .report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 0 !important; border-top: 8px solid #94715a !important; }
  .report-wrapper:not(:last-of-type) { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
  .report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px !important; border-bottom: 8px solid #94715a !important; } }
/* ******* ******* ******* ******* ******* ******* ******* */
.report-wrapper { width: 1024px; height: auto; margin: 0 auto; background-color: #1f654c; padding: 5px; border-bottom: 10px solid #c76c17; /**/ }
.report-wrapper .report-wrapper__block1 { padding: 5px; border: 1px solid #fff100; }
.report-wrapper .report-wrapper__block1 .report-wrapper__block2 { background-color: #ede9cc; padding: 0 15px; border: 8px solid #94715a; height: auto; }
.report-wrapper .report-wrapper__footer { margin-left: -5px; margin-right: -5px; width: calc(100% + 5px + 5px); }
.report-wrapper .report-wrapper__footer > div { height: 45px; line-height: 43px; font-size: 0.9em; letter-spacing: 0.15em; color: #FFF; text-align: center; border-bottom: 2px solid #ddd8c3; }
.report-wrapper .report-wrapper__footer img, .report-wrapper .report-wrapper__footer svg { height: 35px; max-height: 35px; margin: 5px 10px; }
.report-wrapper:not(:first-of-type) { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 { padding-top: 0; border-top: none; }
.report-wrapper:not(:first-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-top: 1px; border-top: none; }
.report-wrapper:not(:last-of-type) { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 { padding-bottom: 0; border-bottom: none; }
.report-wrapper:not(:last-of-type) .report-wrapper__block1 .report-wrapper__block2 { padding-bottom: 1px; border-bottom: none; }
.report-wrapper:last-of-type { padding-bottom: 5px !important; border-bottom: 10px solid #c76c17 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 { padding-bottom: 5px !important; border-bottom: 1px solid #fff100 !important; }
.report-wrapper:last-of-type .report-wrapper__block1 .report-wrapper__block2 { border-bottom: 8px solid #94715a !important; }
.report-wrapper .report-header { width: 100%; height: 0; padding-bottom: 26.05%; background-image: url(../images/SJTT-primary/header.png); background-repeat: no-repeat; background-size: 100% 100%; text-indent: -9999px; overflow: hidden; }
.report-wrapper .report-data { margin: 10px 0; }
.report-wrapper .report-data table { table-layout: fixed; }
.report-wrapper .report-data table tr { background-image: linear-gradient(to right, #898989 25%, rgba(255, 255, 255, 0) 0%); background-position: bottom; background-size: 7px 1px; background-repeat: repeat-x; }
.report-wrapper .report-data table tr td { white-space: nowrap; overflow: hidden; background-image: url(../images/spot.png); background-repeat: no-repeat; background-position: left center; background-size: 31px auto; padding: 10px 0 10px 31px; color: #643f33; font-size: 1em; line-height: 1em; }
.report-wrapper .report-section { background-color: #FFF; border: 1px solid #643f33; border-radius: 18px; margin: 10px 5px 10px 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(0, 0, 0, 0.15), -1px 1px 5px rgba(0, 0, 0, 0.15), 1px -1px 5px rgba(0, 0, 0, 0.15); }
.report-wrapper .report-section .report-section_title { background-color: #8c8d32; color: #FFF; text-align: center; font-size: 1.6em; line-height: 1em; font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif; font-weight: bold; padding: 5px 0 7px 0; border-radius: 17px 17px 0 0; letter-spacing: 0.09em; }
.report-wrapper .report-section .report-section_content { padding: 5px; }
.report-wrapper .text-section { padding: 10px 15px; line-height: 1.6; margin-bottom: 10px; }
.report-wrapper .text-section .text-title { font-weight: bold; margin-bottom: .5rem; color: #676725; font-size: 1em; line-height: 1.2; }
.report-wrapper .text-section .text-title::before { content: ""; display: inline-block; width: .8em; height: .8em; background: linear-gradient(to bottom right, #babb84 0%, #babb84 50%, #8c8d32 50%, #8c8d32 100%); border-radius: 5px; vertical-align: middle; margin-top: -.25em; margin-right: .25em; }
.report-wrapper .text-section .text-content { padding-left: 1.25em; font-size: 0.85em; }
.report-wrapper .text-section .text-content p { margin-bottom: 10px; }
.report-wrapper .text-section .text-content p:last-child { margin-bottom: 0; }
.report-wrapper .text-section .text-content ul li { padding-left: 1.25em; margin-bottom: 5px; }
.report-wrapper .text-section .text-content ul li strong { color: #008ad2; font-weight: bold; margin-left: -1.25em; }
.report-wrapper .text-section .text-content ul li strong::before { content: "●"; display: inline-block; margin-right: .25em; }
.report-wrapper .workplace-section { margin: -5px; width: calc(100% + 5px*2); border-radius: 0 0 16px 16px; overflow: hidden; }
.report-wrapper .workplace-section img { display: block; }
@media print { .report-wrapper.page4 .report-section { margin-top: 20px; margin-bottom: 40px; } }

/* ******* ******* ******* ******* ******* ******* ******* */
/*PAGE1*/
.test-score { width: 100%; height: 885px; background-image: url(../images/radar5-bg.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center; position: relative; /**/ }
.test-score .test-score__overall { width: 24%; height: 16%; position: absolute; top: 0; left: 50%; margin-left: -12%; border: 2px solid #643f33; background-color: #FFF; border-radius: 20px; color: #643f33; text-align: center; padding: 0px 5px 10px 5px; margin-top: 25px; }
.test-score .test-score__overall .test-score__overall-title { background-color: #efefef; border: 2px solid #643f33; border-radius: 20px; font-size: 1.4em; line-height: 1.8em; white-space: nowrap; font-weight: bold; padding: 0 20px; display: inline-block; margin-top: -25px; margin-bottom: 5px; }
.test-score .test-score__overall .test-score__overall-score { font-size: 1.1em; line-height: 1.9em; }
.test-score .test-score__overall .test-score__overall-score > big { display: inline-block; width: 2.5em; overflow: hidden; font-size: 2em; vertical-align: text-bottom; }
.test-score .test-score__item { position: absolute; width: 25%; background-color: #FFF; text-align: center; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1), -1px 1px 5px rgba(0, 0, 0, 0.1), 1px -1px 5px rgba(0, 0, 0, 0.1); padding: 2px; }
.test-score .test-score__item .test-score__item-chartLabel { color: #FFF; font-size: 1.6em; line-height: 1em; position: absolute; width: 4em; }
.test-score .test-score__item .test-score__item-block { border: 2px solid; border-radius: 8px; }
.test-score .test-score__item .test-score__item-block h4 { font-size: 1.1em; line-height: 1em; color: #FFF; border-radius: 6px; padding: 8px 0 10px 0; margin-top: -2px; width: calc(100% + 4px); margin-left: -2px; font-weight: bold; border: 2px solid; }
.test-score .test-score__item .test-score__item-block p { font-size: 0.8em; line-height: 1.2em; text-align: left; padding: 2px 8px; font-weight: normal; height: 4.8em; overflow: hidden; margin-bottom: 2px; }
.test-score .test-score__item.green { top: 10%; right: 5%; }
.test-score .test-score__item.green .test-score__item-chartLabel { bottom: -28%; left: -58%; transform: rotate(36deg); }
.test-score .test-score__item.green .test-score__item-block { border-color: #00a73c; }
.test-score .test-score__item.green .test-score__item-block h4 { background-color: #00a73c; border-color: #00a73c; }
.test-score .test-score__item.green .test-score__item-block .test-score__item-block__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #58b431; border: 1px solid #00a73c; margin: 4px 0px; font-size: .85em; }
.test-score .test-score__item.green .test-score__item-block .test-score__item-block__scoreTitle:nth-child(5) { margin-left: 4px; }
.test-score .test-score__item.green .test-score__item-block .test-score__item-block__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #00a73c; margin: 4px 0px; }
.test-score .test-score__item.blue { top: 56%; right: 0.8%; }
.test-score .test-score__item.blue .test-score__item-chartLabel { top: -5%; left: -48%; transform: rotate(-72deg); }
.test-score .test-score__item.blue .test-score__item-block { border-color: #0068b7; }
.test-score .test-score__item.blue .test-score__item-block h4 { background-color: #00a0e9; border-color: #0068b7; }
.test-score .test-score__item.blue .test-score__item-block .test-score__item-block__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #00a0e9; border: 1px solid #0068b7; margin: 4px 0px; font-size: .85em; }
.test-score .test-score__item.blue .test-score__item-block .test-score__item-block__scoreTitle:nth-child(5) { margin-left: 4px; }
.test-score .test-score__item.blue .test-score__item-block .test-score__item-block__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #0068b7; margin: 4px 0px; }
.test-score .test-score__item.orange { top: 78%; left: 50%; margin-left: -12.5%; }
.test-score .test-score__item.orange .test-score__item-chartLabel { top: -40%; left: 22.5%; transform: rotate(0deg); }
.test-score .test-score__item.orange .test-score__item-block { border-color: #c76c17; }
.test-score .test-score__item.orange .test-score__item-block h4 { background-color: #eb6112; border-color: #c76c17; }
.test-score .test-score__item.orange .test-score__item-block .test-score__item-block__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #ee7300; border: 1px solid #c76c17; margin: 4px 0px; font-size: .85em; }
.test-score .test-score__item.orange .test-score__item-block .test-score__item-block__scoreTitle:nth-child(5) { margin-left: 4px; }
.test-score .test-score__item.orange .test-score__item-block .test-score__item-block__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #c76c17; margin: 4px 0px; }
.test-score .test-score__item.pink { top: 56%; left: 0.8%; }
.test-score .test-score__item.pink .test-score__item-chartLabel { top: -5%; right: -48%; transform: rotate(72deg); }
.test-score .test-score__item.pink .test-score__item-block { border-color: #d46083; }
.test-score .test-score__item.pink .test-score__item-block h4 { background-color: #ea638a; border-color: #d46083; }
.test-score .test-score__item.pink .test-score__item-block .test-score__item-block__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #d46083; border: 1px solid #d46083; margin: 4px 0px; font-size: .85em; }
.test-score .test-score__item.pink .test-score__item-block .test-score__item-block__scoreTitle:nth-child(5) { margin-left: 4px; }
.test-score .test-score__item.pink .test-score__item-block .test-score__item-block__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #d46083; margin: 4px 0px; }
.test-score .test-score__item.purple { top: 10%; left: 5%; }
.test-score .test-score__item.purple .test-score__item-chartLabel { bottom: -28%; right: -58%; transform: rotate(-36deg); }
.test-score .test-score__item.purple .test-score__item-block { border-color: #92308d; }
.test-score .test-score__item.purple .test-score__item-block h4 { background-color: #ab66a7; border-color: #92308d; }
.test-score .test-score__item.purple .test-score__item-block .test-score__item-block__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #ab66a7; border: 1px solid #92308d; margin: 4px 0px; font-size: .85em; }
.test-score .test-score__item.purple .test-score__item-block .test-score__item-block__scoreTitle:nth-child(5) { margin-left: 4px; }
.test-score .test-score__item.purple .test-score__item-block .test-score__item-block__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #92308d; margin: 4px 0px; }
.test-score .test-score__radarGraph { position: absolute; width: 100%; /*top:33.7%;
padding:0 17.7%;*/ top: 36.7%; padding: 0 23.6% 0 23.9%; transform: rotate(36deg); }

/*PAGE2*/
.result-description .result-description__graph { width: 100%; height: 740px; margin-bottom: 10px; background-image: url(../images/likeBubble-bg.png); background-repeat: no-repeat; background-size: 100% auto; background-position: center top; position: relative; }
.result-description .result-description__graph .result-description__graph-x { position: absolute; width: 14%; right: 0; top: 54%; margin-top: -0.8em; text-align: left; }
.result-description .result-description__graph .result-description__graph-x h4 { font-size: 1.6em; line-height: 1em; font-weight: bold; color: #1f654c; margin-bottom: 8px; }
.result-description .result-description__graph .result-description__graph-x .result-description__graph-x__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #00a73c; border: 1px solid #008742; margin: 2px 0; font-size: .85em; }
.result-description .result-description__graph .result-description__graph-x .result-description__graph-x__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #008742; margin: 2px 0; }
.result-description .result-description__graph .result-description__graph-y { position: absolute; width: 24%; left: 50%; top: 1%; margin-left: -12%; text-align: center; }
.result-description .result-description__graph .result-description__graph-y h4 { font-size: 1.6em; line-height: 1em; font-weight: bold; color: #643f33; margin-bottom: 8px; }
.result-description .result-description__graph .result-description__graph-y .result-description__graph-y__scoreTitle { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; line-height: 1.2em; padding-top: 0.15em; color: #FFF; font-size: 0.75em; background-color: #f39a00; border: 1px solid #c76c17; margin: 2px 0; font-size: .85em; }
.result-description .result-description__graph .result-description__graph-y .result-description__graph-y__score { display: inline-block; width: 48px; height: 48px; overflow: hidden; border-radius: 6px; text-align: center; vertical-align: middle; font-size: 0.75em; line-height: 46px; background-color: #fff; border: 1px solid #c76c17; margin: 2px 0; }
.result-description .result-description__graph .result-description__graph-panel { position: absolute; width: 66%; height: 75%; top: 16.8%; left: 17%; }
.result-description .result-description__graph .result-description__graph-panel .result-description__graph-panel__value { position: absolute; display: block; width: 100px; height: calc(64px + 4px + 1em); padding-top: 68px; background-image: url(../images/position-person.png); background-repeat: no-repeat; background-position: center top; background-size: 40px 64px; white-space: nowrap; overflow: hidden; margin-bottom: calc(-1em - 4px); margin-left: -50px; text-align: center; }
.result-description .result-description__graph .result-description__graph-panel .result-description__graph-panel__value.HH { left: 79%; top: 3%; }
.result-description .result-description__graph .result-description__graph-panel .result-description__graph-panel__value.HL { left: 79%; top: 57%; }
.result-description .result-description__graph .result-description__graph-panel .result-description__graph-panel__value.LH { left: 23%; top: 57%; }
.result-description .result-description__graph .result-description__graph-panel .result-description__graph-panel__value.LL { left: 23%; top: 3%; }
.result-description .result-description__text { background-color: #FFF; text-align: center; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1), -1px 1px 5px rgba(0, 0, 0, 0.1), 1px -1px 5px rgba(0, 0, 0, 0.1); padding: 2px; }
.result-description .result-description__text .result-description__text-block { border: 1px solid #898989; border-radius: 6px; }
.result-description .result-description__text .result-description__text-block h4 { border: 1px solid #898989; font-size: 1.26em; line-height: 1em; font-weight: bold; padding: 6px 0; background-color: #e6e6e6; border-radius: 6px; margin: -1px -1px 0 -1px; }
.result-description .result-description__text .result-description__text-block p { text-align: left; font-size: 1em; line-height: 1.5; font-weight: normal; margin-bottom: 10px; padding-left: 10px; padding-right: 10px; }
.result-description .result-description__text.teacherType { margin-bottom: 20px; }
.result-description .result-description__text.teacherType .result-description__text-block { height: calc(1.4em*6 + 10px); overflow: hidden; }
.result-description .result-description__text.teacherType .result-description__text-block h4 { color: #643f33; }
.result-description .result-description__text.SandS { margin-bottom: 15px; }
.result-description .result-description__text.SandS .result-description__text-block { height: calc(1.4em*10 + 10px + 10px); overflow: hidden; }
.result-description .result-description__text.SandS .result-description__text-block h4 { color: #1f654c; }
.result-description.explain { margin-left: -1.25em; }
.result-description.explain .result-description__graph { height: 435px; background-image: url("../images/likeBubble-bg-explain.png"); margin-bottom: 0; }
.result-description.explain .result-description__graph .result-description__graph-x { top: 52.5%; }
.result-description.explain .result-description__graph .result-description__graph-panel { height: auto; top: 12.6%; }
.result-description.explain .result-description__graph .result-description__explain-table td { height: 175px; padding: 5px 20px; }
.result-description.explain .result-description__graph .result-description__explain-table .explain-TL { color: #608230; }
.result-description.explain .result-description__graph .result-description__explain-table .explain-TR { color: #0e6a9b; }
.result-description.explain .result-description__graph .result-description__explain-table .explain-BL { color: #a52111; }
.result-description.explain .result-description__graph .result-description__explain-table .explain-BR { color: #987203; }
