.embed-responsive-1by1{
	padding-bottom:100%;
}
/*.embed-responsive-25by16{
	padding-bottom:64%;
}
.embed-responsive-66pre{
	padding-bottom:95.94%;
}
.embed-responsive-56pre{
	padding-bottom:56%;
}
.embed-responsive-5325pre{
	padding-bottom:53.25%;
	> img{
		width:100%;
	}
}*/
.embed-responsive-125pre{/*14.8*21cm*/
	padding-bottom:125%;
}
.embed-responsive-25K{/*14.8*21cm*/
	padding-bottom:141.89%;
}
.embed-responsive-25Kshort{/*14.8*20cm*/
	padding-bottom:135.13%;
}

.embed-responsive-18K{/*17*23cm*/
	padding-bottom:135.29%;
}
.embed-responsive-18Kshort{/*17*22cm*/
	padding-bottom:129.41%;
}

.embed-responsive-32K{/*13*19cm*/
	padding-bottom:146.15%;
}
.embed-responsive-32Ks1{/*13*18cm*/
	padding-bottom:138.46%;
}
.embed-responsive-32Ks2{/*10.8*16.8cm*/
	padding-bottom:155.55%;
}
.embed-responsive-32Ks3{/*11.5*16cm*/
	padding-bottom:139.13%;
}

.embed-responsive-32Ks4{/*14.8*10.5cm*/
	padding-bottom:70.94%;
}

.embed-responsive-square12K{/*22.2*21.3cm*/
	padding-bottom:95.94%;
}
.embed-responsive-square20K{/*17.8*15.9cm*/
	padding-bottom:89.32%;
}
.embed-responsive-square24K{/*15.9*14.5cm*/
	padding-bottom:91.19%;
}