modal-body-text.modal-md-full, .modal-xl{
	@media screen and (min-width: 1200px) {
		width:1200px;
	}
}
.modal-full{
	width: calc(100% - 30px - 30px);
}
.modal-large{
	.modal-dialog{
		width:calc(100% - 15px - 15px);
		@media screen and (min-width: 1600px) {
			width: calc(100% - 8.333333% - 8.333333%);
		}
	}
}
.modal-template1{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-size:1.4rem;
					font-weight:400;
					line-height:1.5;
				}
			}
            .modal-body{
				padding-top:0;
				padding-bottom:0;
				.book-item{
					margin: .75rem 0 .75rem 0;
				}
				.modalContent{
					min-height:calc(100vh - 30px - 30px - 73px - 67px - 2px);
					border-left:1px solid #e5e5e5;
					padding:15px;
				}
			}
		}
	}
}
.modal-likeModal{
	@media screen and (min-width: 768px) and (max-width: 1199px) {
	width: calc(100% - 8.333333% - 8.333333%);
	}
	@media screen and (min-width: 1600px) {
	width: calc(100% - 8.333333% - 8.333333%);
	}
	.modal-content{
		.modal-body{
			min-height: calc(100vh - 30px - 30px - 130px);
		}
	}
}
.modal{
	.modal-title{
		font-weight:400;
	}
}
.modal-body-text{
	font-size:0.85rem !important;
	line-height: 1.5rem !important;
	>p{
		margin-bottom: 1.5rem !important;	
	}
}

.modal-style1{
	.modal-content{ 
		border-radius: 0px;
		.modal-header{
			border-bottom: 1px solid transparent;
		}
		.modal-footer{
			border-top: 1px solid transparent;
			text-align:center;
		}
	}
}
.modal-noLine{
	.modal-content{ 
		.modal-header{
			border-bottom: 1px solid transparent;
		}
		.modal-footer{
			border-top: 1px solid transparent;
		}
	}
}

.modal-grayBg{
	background-color:lighten($color-default-gray, 58%);
	padding: 0.75rem;
	margin: -0.75rem -0.75rem 0.75rem -0.75rem;
	border-bottom:1px solid #ddd;

}