[class*="Dradio-"] {
	padding-left:30px;
	min-height:22px;
	position:relative;
	&.radio-inline{
		display:inline-block;
	}
	>input[type="radio"] {
		display:none;
	}
	>label{ 
		cursor:pointer;
		font-size:16px;
		&::before{
			content:"";
			display:block;
			width:22px;
			height:22px;
			border-radius:50%;
			border:1px solid #ccc;
			position:absolute;
			top:4px;
			left:0;
		}
		&::after{
			content:"";
			display:block;
			width:14px;
			height:14px;
			border-radius:50%;
			background-color:#ccc;
			position:absolute;
			top:8px;
			left:4px;
		}
	}
}
[class*="Dradio-"]:hover{
	>label{
		cursor:pointer;
		&::before{
			border:1px solid darken(#ccc, 20%);
		}
		&::after{
			background-color:darken(#ccc, 20%);
		}
	}
}
[class*="Dradio-"]{
	>input[type="radio"].disabled,
	>input[type="radio"][disabled],
	>input[type="radio"][disabled="disabled"]{
		+ label{
			cursor: not-allowed;
			&::before{
				border:1px solid #ccc;
			}
			&::after{
				background-color:#ccc;
			}
		}
	}
}

.Dradio-main-blue{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:$color-main-blue;
		}
	}
}
.Dradio-main-sky{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:$color-main-sky;
		}
	}
}
.Dradio-main-green{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:$color-main-green;
		}
	}
}
.Dradio-main-yellow{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:darken($color-main-yellow, 5%);
		}
	}
}
.Dradio-main-purple{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:darken($color-main-purple, 5%);
		}
	}
}
.Dradio-main-orange{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:$color-main-orange;
		}
	}
}
.Dradio-main-skin{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:darken($color-main-skin, 5%);
		}
	}
}