[class*="iconSVG-"]{
	height: 1em;
	&.white{
		filter: invert(99%) sepia(22%) saturate(3%) hue-rotate(66deg) brightness(121%) contrast(100%);
	}
	&.black{
		filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(180deg) brightness(86%) contrast(99%);
	}
	
	&.main-blue{
		filter: invert(26%) sepia(90%) saturate(4855%) hue-rotate(199deg) brightness(93%) contrast(101%);
	}
	&.main-sky{
		filter: invert(49%) sepia(97%) saturate(1840%) hue-rotate(160deg) brightness(98%) contrast(104%);
	}
	&.main-green{
		filter: invert(49%) sepia(13%) saturate(4917%) hue-rotate(96deg) brightness(100%) contrast(84%);
	}
	&.main-yellow{
		filter: invert(48%) sepia(100%) saturate(402%) hue-rotate(8deg) brightness(102%) contrast(106%);
	}
	&.main-purple{
		filter: invert(50%) sepia(50%) saturate(398%) hue-rotate(252deg) brightness(87%) contrast(95%);
	}
	&.main-orange{
		filter: invert(49%) sepia(41%) saturate(6469%) hue-rotate(3deg) brightness(93%) contrast(89%);
	}
	&.main-skin{
		filter: invert(54%) sepia(76%) saturate(359%) hue-rotate(331deg) brightness(106%) contrast(102%);
	}
	
	&.default-black{
		filter: invert(16%) sepia(13%) saturate(281%) hue-rotate(145deg) brightness(90%) contrast(88%);
	}
	&.default-gray{
		filter: invert(39%) sepia(8%) saturate(347%) hue-rotate(145deg) brightness(94%) contrast(88%);
	}
}

