.navbar-toggle{
	&:not(.collapsed), 
	&:not(.collapsed):hover{
		background-color: transparent;
		.icon-bar:nth-child(2){ 
			background-color:transparent !important;
		}
		.icon-bar:nth-child(3){
			background-color: #FFF;
			-webkit-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			-o-transform:rotate(45deg);
			transform:rotate(45deg);
			webkit-transition:transform 0.1s linear;
			-moz-transition:transform 0.1s linear;
			-ms-transition:transform 0.1s linear;
			-o-transition:transform 0.1s linear;
			transition:transform 0.1s linear;
			&:after{
				display:block;
				content:" ";
				background-color:#FFF;
				width:100%;
				height:2px;
				-moz-transform:rotate(-90deg);
				-webkit-transform:rotate(-90deg);
				-o-transform:rotate(-90deg);
				-ms-transform:rotate(-90deg);
				transform:rotate(-90deg);
				
			}
		}
		.icon-bar:nth-child(4){ 
			background-color:transparent !important;
		}
	}
}