.rwd-table{
	thead{
		th, td {display: none;}
	}
	tbody, tfoot{
        tr{
            border-top:1px solid #ddd;
        }
		th, td {
            display: block;
            /*width: auto !important;
            text-align: left !important;
            border-color: transparent !important;*/
			&::before{
				display: inline-block;
				content: attr(data-th) " : ";
				font-weight: 400;
				width: auto;
				margin-right:10px;
			}
			&.with-no-data-th{
				&:before{
					content: attr(data-th) "";
					margin-right:0px;
				}
			}
		}
	}

	@media (min-width: 992px) {
	thead{
		th, td {display: table-cell;}
	}
	tbody, tfoot{
		th, td {
			display: table-cell;
			&:before{
				display: none;
			}
		}
	}
	}
}


/*.rwd-left{
	th, td{
		text-align:left;
		vertical-align:middle;
		@media (min-width: 992px) {
		text-align:center;	
		}
	}
}
.rwd-br{
	th, td{
		> br{
			display:none;
			@media (min-width: 1200px) {
			display:block
			}
		}
	}
}*/