.search-panel{
	/*background-color:lighten($color-default-gray, 58%);*/
	background-color: #FFF;
	margin: 2rem 0;
	/*box-shadow: 0 0 20px rgba(161,182,204, .25);*/
	border: 1px solid #eee;
	/*box-shadow: 0 0 5px rgba(161,182,204, .25);*/
	padding:1rem 0;
	border-radius: 6px;
	font-size:0.85rem;
	.form-inline{
		.form-group{
			margin-bottom: .5rem;
			label{
			}
			.form-control{
				margin-top:.25rem;
			}
		}
		[class*="btn-main-"]{
			margin-top:.25rem;
			max-height:34px;
		}
	}
}
@media screen and (min-width: 768px) {
.search-panel{
	.form-inline{
		.form-group{
			label{
				margin-left:1rem;
				vertical-align:middle;
			}
			.form-control{
				margin-top:.25rem;
			}
		}
		[class*="btn-main-"]{
			margin-top:-.25rem;
			margin-left:1rem;
		}
	}
}	
}
@media screen and (min-width: 992px) {
.search-panel{
}	
}
@media screen and (min-width: 1200px) {
.search-panel{
	text-align:center;
	.form-inline{
		.form-group{
			margin-bottom:0;
			&:first-child{
				label{
					margin-left:0;
				}
			}
			label{
			}
			.form-control{
				margin-top:0rem;
			}
		}
		[class*="btn-main-"]{
			margin-top:0;
		}
	}
}	
}

