.show_hide_password{
	input[type="password"].hidePD{
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	input[type="password"].showPD{
		font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Heiti TC', 'LiHei Pro', sans-serif !important;
	}
	>.input-group-addon{
		background-color:transparent;
		padding: 5px 11px 5px 12px;
		box-shadow: inset -1px 1px 0px rgba(0,0,0,.08);
		>a { 
			display:inline-block;
			width:1rem;
			text-align:center;
			color:$color-default-gray;
		}
	}
}

