.table-style-default{
	font-size:0.85rem;
	thead{
		tr{
			th{
				font-weight:400;
				padding: .5rem .4rem;
				vertical-align: middle;
			}
			td{
				padding: .5rem .4rem;
				vertical-align: middle;
			}
		}
	}
	tbody{
		tr{
			th{
				font-weight:400;
				padding: .5rem .4rem;
				vertical-align: middle;
			}
			td{
				padding: .5rem .4rem;
				vertical-align: middle;
			}
		}
	}
}