/*.verticalAlign{
	display:table-cell;
	vertical-align:middle;
	width:100%;
}*/
/*.cursorPointer tr{
	cursor:pointer;
}*/
/*.btn-shadow{
	box-shadow:inset 0px 8px 15px rgba(255,255,255,.5),
	inset 0px -10px 10px rgba(0,0,0,.1);
}*/
/* ******* ******* ******* ******* ******* ******* ******* */
/*   useing in Activity Questions  ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/*.Qnum {
	width: 6%;
	text-align: center;
}*/
/*.Qnum > span {
	color: #31708f !important;
	font-weight: bold;
	background-color: #d9edf7 !important;
	padding: 2px 5px;
	border: 1px solid #bce8f1 !important;
	border-radius: 2px;
	white-space:nowrap;
}*/

/*TandF*/
.imgBtn {
	width: 110px;
	height: 110px;
	border: none;
	background-color: inherit;
	display: block;
	margin: 20px auto;
    background-image: url("../images/editUnit/Papers/imgbtn.png");
	outline: none;
}
.imgBtn.right {
	background-position: 0px 0px;
}
.imgBtn.right:hover, .imgBtn.right:active, .imgBtn.right:focus {
	background-position: -110px 0px;
	border: none;
}
.imgBtn.wrong {
	background-position: 0px -110px;
}
.imgBtn.wrong:hover, .imgBtn.wrong:active, .imgBtn.wrong:focus {
	background-position: -110px -110px;
}
.TFanswer {
	width: 32px;
	height: 32px;
	background-image: url("../images/editUnit/Papers/imgbtn.png");
	background-size: 64px 64px;
}
.TFanswer.true {
	background-position: 0px 0px;
}
.TFanswer.false {
	background-position: 0px -32px;
}
span.TFanswer{ display:inline-block; vertical-align:middle;}
/*Picture Match (connect)*/
.connectItem {
	position: relative;
	margin: 5px 0px;
}
.connectBtn {
	display: block;
	border-radius: 8px;
	padding: 4px 10px;
	margin: 5px;
	color: #FFF !important;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
	text-align: center;
}
.connectLeft .connectBtn {
	background-color: #3B8B95 !important;
	border: 1px solid #2d6970;
}
.connectRight .connectBtn {
	background-color: #bdaf42 !important;
	border: 1px solid #b5a73f;
}
.connectLeft .connectDot {
	right: 0;
}
.connectRight .connectDot {
	left: 0;
}
.connectBtn:hover {
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.5);
	cursor: pointer;
}
.connectLeft .connectNum {
	position: absolute;
	top: 50%;
	left: -1.5em;
	margin-top: -0.5em;
	color: #333;
	font-weight: normal;
}
.forConnectPic{
	text-align:center;
	width:100%;
	height:90px;
	display:inline-table;
	margin:5px 0px;
}
.forConnectPic > div {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
/*Listening & Match & Rewrite*/
.fillArea {
	line-height: 40px;
}
.fillArea input {
	line-height: 30px;
	margin: 5px 2px;
}
.draggable {
	border: 1px solid darken($color-main-blue, 5%);
	border-radius: 4px;
	background-color: $color-main-blue;
	color: #FFF !important;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	cursor: move;
	display: inline-block;
	padding: 0px 10px;
	margin: 10px 5px;
	white-space: nowrap;
	position: relative;
}
.draggable:hover {
	background-color: $color-main-sky;
}
.draggable.right {
	border: 1px solid #306e30;
	background-color: #419641 !important;
}
.draggable.right:hover {
	background-color: #306e30;
}
.draggable.wrong {
	border: 1px solid #9c2522;
	background-color: #c12e2a !important;
}
.draggable.wrong:hover {
	background-color: #9c2522;
}
.draggable > i.delete {
	display: inline-block;
	position: absolute;
	z-index: 5;
	top: -0.6rem;
	right: -0.6rem;
	font-size: .8rem;
	background-color: #CCC;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 100%;
	text-align: center;
	line-height: 1.2rem;
	cursor: pointer;
	&:hover{
		background-color: #999;
	}
}
.droppable {
	background-color: #F5F5F5;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
	vertical-align: middle;
	margin: 10px 2px;
	min-height: 40px;
	vertical-align: middle;
}
.droppable.mate, .droppable.fill {
	display: inline-block;
	min-height: 40px;
	/*line-height: 32px;*/
	white-space: nowrap;
}
.droppable.mate > .draggable, .droppable.fill > .draggable {
	display: inline-block;
	margin: 2px 2px;
}
.droppable.restructuring {
	min-height: 40px;
}
/*answerMark*/
.answerMark {
	color:#666;
	font-size:14px;
}
.answerMark > span > span{
	display:inline-block;
	width:50px;
	height:20px;
	vertical-align:middle;
	margin:0px 5px;
}
.answerMark > .right > span{
	border: 1px solid #306e30;
	background-color:#419641;
}
.answerMark > .wrong > span{
	border: 1px solid #9c2522;
    background-color: #c12e2a;
}

.answerMark2 {
	color:#666;
	font-size:14px;
}
.answerMark2 > span > span{
	display:inline-block;
	width:50px;
	height:20px;
	vertical-align:middle;
	margin-right:5px;
	margin-left:15px;
}
.answerMark2 > .right {
	color:#419641;
}
.answerMark2 > .wrong {
	color:#c12e2a;
}
.answerMark2 > .right > span{
	background-color:#dff0d8;
}
.answerMark2 > .wrong > span{
	background-color:#f2dede;
}

/* ******* ******* ******* ******* ******* ******* ******* */
/* useing in all bootstrap template******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/*panel*/
.panel-brown {
    border-color: #7b7371;
    background-color: #fafcf2;
}
.panel-brown > .panel-heading {
    color: #FFF;
    background-color: #7b7371;
    border-color: #7b7371;
}
.panel-paddingLess .panel-body {
    padding: 0px;
}
.panel .panel-heading .panel-title {
	margin: 0;
	font-size: 20px;
	color: inherit;
	font-weight: bold;
}
/*.panel .panel-heading .panel-title > img {
	vertical-align: text-bottom;
	background-color:#fafcf1;
	margin-right:5px;
	border-radius:5px;
	box-shadow:inset 0px 2px 5px rgba(255,255,255,.5);
}*/
/*modal*/
/*.modal-blue .modal-header, .modal-blue .modal-footer{ 
	background-color: #d9edf6;
}*/
/*table*/
/*.table-brown > thead > tr > th {
	color:#402627;
	background-color:#c0b2b2;
}
.table-brown > thead > tr > th, 
.table-brown > tbody > tr > th, 
.table-brown > tfoot > tr > th, 
.table-brown > thead > tr > td, 
.table-brown > tbody > tr > td, 
.table-brown > tfoot > tr > td {
	border-color: #c0b2b2;
	vertical-align:middle;
}
.table-brownTh thead th{
	background-color:#615b59;
	color:#FFF;
}
.table-hover-blue > tbody > tr:hover > td, .table-hover-blue > tbody > tr:hover > th {
    background-color: #d9edf7;
}*/
