/*textColor*/
.text-blue{
	color:$color-main-blue;
}
.text-sky{
	color:$color-main-sky;
}
.text-green{
	color:darken($color-main-green, 5%);
}
.text-yellow{
	color:darken($color-main-yellow, 5%);
}
.text-purple{
	color:darken($color-main-purple, 5%);
}
.text-orange{
	color:$color-main-orange;
}
.text-skin{
	color:darken($color-main-skin, 5%);
}
.text-red{
	color:$color-text-red;
}
.text-black{
	color:$color-default-black;
}
.text-gray{
	color:$color-default-gray;
}

/*bgColor*/
.bg-blue{
	background-color:$color-main-blue;
}
.bg-sky{
	background-color:$color-main-sky;
}
.bg-green{
	background-color:$color-main-green;
}
.bg-yellow{
	background-color:$color-main-yellow;
}
.bg-purple{
	background-color:darken($color-main-purple, 5%);
}
.bg-orange{
	background-color:$color-main-orange;
}
.bg-skin{
	background-color:darken($color-main-skin, 5%);
}
.bg-white{
    background-color: #fff;
}


.text-indent-2{
	text-indent:2em;
}
.noBorder{
	border-color: transparent !important;
}
.noRadius{
	border-radius:0 !important;
}
.noBg{
    background: none;   
}
.bg-gradient{
	background-image: url(../images/bg-gradient.png);
	background-repeat: repeat-x;
}
.bg-gradient-gray{
	background-image: url(../images/bg-gradient-gray.png);
	background-repeat: repeat-x;
}
.bg-gradient-white{
	background-image: url(../images/bg-gradient-white.png);
	background-repeat: repeat-x;
}
.bg-gray{
	background-color: #f1f1f1;
}

.base-h2{
	font-size:1.0rem;
	font-weight:500;
	background-image: url(../images/base-h2-cover.png), url(../images/navi-main-line.png);
	background-repeat:no-repeat, no-repeat;
	background-position:left bottom, left bottom;
	background-size:50% 1px, 50% 1px;
	padding:.25rem 0;
	margin:.75rem 0 1rem 0;
	>small{
		color:$color-main-blue;
		font-size:.9rem;
		font-weight:500;
		text-transform:uppercase;
		margin-left:10px;
	}
}
/**/
i.fas.fa-film{ 
	position:relative;
	&::after{ 
		content:"";
		display:block;
		width:1em;
		height:.77em;
		border:.09em solid $color-default-gray;
		border-top-width:.14em;
		border-bottom-width:.13em;
		position:absolute;
		top:.1em;
		left:0;
		border-radius:4px;
	}
}
/**/
.modalAlert{
    .modal-header {
        border-bottom-color: transparent;
    }
    .modal-body {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .modal-footer {
        border-top-color: transparent;
    }
}