$color-bg:				#f0efef; /*rgb(240,239,239)*/
$color-default-black:	#2e3233; /*rgb(46,50,51)*/
$color-default-gray:	#5c6466; /*rgb(92,100,102)*/
$color-main-blue:		#172a88; /*rgb(0,102,204)*/

$color-l:               #92C41D;
$color-t:               #4dbdbd;
$color-s:               #552b8c;
$color-r:               #1d9bd3;
$color-w:               #f8bc00;
$color-f:               #15398b;

$color-a-l:             #6cbc64;
$color-a-s:             #6858a4;
$color-a-r:             #00709f;
$color-a-w:             #f39800;
$color-a-f:             #00709f;

$color-eM:              #00BD6D;
$color-ST:              #4dbdbd;
$color-SP:              #552b8c;
$color-SZ:              #007686;
$color-SRM:             #15398b;
$color-SWM:             #f8bc00;
$color-CCS:             #172a88;

$color-main-sky:		#00b0ec; /*rgb(0,176,263)*/
$color-main-green:		#14a83b; /*rgb(20,168,59)*/
$color-main-yellow:		#f8bc00; /*rgb(248,188,0)*/
$color-main-purple:		#bc87ba; /*rgb(188,135,136)*/
$color-main-orange:		#db600e; /*rgb(219,96,14)*/
$color-main-skin:		#f3a07d; /*rgb(243,160,125)*/



$color-text-red:		#ff5151;


