.login-section{ 
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url("../images/index/banner-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 992px) {
        background-position: center center;
    }
    @media screen and (min-width: 1900px) {
    padding-top: 100px + 50px;
    padding-bottom: 80px + 50px;    
    }
    .login-section-slogan{
        font-size: 1.8rem;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        text-shadow: 5px 5px 10px rgba(0,0,0, .95); 
        text-align: center;
        margin-top: 10rem;
        line-height: 1.4;
        display: none;
        @media screen and (min-width: 992px) {
        display: block;
        }
        @media screen and (min-width: 1200px) {
        font-size: 2rem;
        }
        @media screen and (min-width: 1440px) {
        font-size: 2.4rem;
        }
    }
    .login-section-block{
        background-color: rgba(255,255,255, .75);
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        border-radius: 1rem;
        box-shadow:  0 0 10px rgba(0,0,0, .25);
        max-width: 370px;
        margin: 0 auto;
        h2{
            color: $color-main-blue;
            text-align: center;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(0,0,0, .2);
            box-shadow: 0 1px rgba(255,255,255, .6);
        }
        .form-group label{
            font-weight: 400;
        }
        .login-section-btn{
            background-color: $color-main-blue;
            border-color: darken($color-main-blue, 7%); 
            margin-top: 1rem;
            &:hover{
                background-color:  darken($color-main-blue, 7%);
                border-color: darken($color-main-blue, 14%);     
            }
        }
    } 
}

