@charset "UTF-8";
@import "reset";
@import "master";
@import "print";
$report-path:"SJTT-early";
/* ******* ******* ******* ******* ******* ******* ******* */
.report-wrapper{
	@include report-wrapper-Styles($bg-color:#dbe6e6, $get-path:$report-path, $title-color:#00a469);
	
	&.page4{
		.report-section {
			@media print {
			margin-top: 20px;
			margin-bottom: 40px;
			}
		}
	}
}
/* ******* ******* ******* ******* ******* ******* ******* */
/*PAGE1*/
@import "radar4";
/*PAGE2*/
@import "likeBubble";

