html {
	position: relative;
	width:100%;
	height: 100%;
}
body {
	font-family:"Microsoft JhengHei", Arial, Helvetica, sans-serif;
	line-height:2;
	color:#333;
	padding-bottom:0px;
	width: 100%;
	height: 100%;
}


.header{
	border-bottom: none;
}	
.index-header{
	background-color:#524932;
	min-height:10px;
	color: #FFF;
}
.index-banner{ 
	width: 100%;
	height: calc(100% - 10px);
	max-width: 100%;
	max-height: calc(100% - 10px);
	background-image: url(../images/indexBG.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;	
	background-position: center top;
	text-align: center;
	>.container{
		height: 100%;	
		>.row{
			height: 100%;	
			align-items: center;
		}
	}
	
	.index-block{
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 2;
		.index-icon{
			width: auto;
			height: 70%;
		}
		.discribe{ 
			padding: 5px 5px;
			margin: 5px 0 0 0 ;
			border-left: 5px solid #999;
			line-height:1.4em;
			font-size:12px;
			color:#666666;
			text-shadow:1px 1px rgba(255,255,255,.5);
			display:inline-block;
			text-align:left;
			@media screen and (min-width: 1200px) {font-size:14px;}
		}
		&.WVS{
			transform: translateY(15%);
		}
		&.SJT{
			
		}
		&.PS{
			transform: translateY(15%);
		}
	}
	
	.index-banner-content{ 
		width: 100%;
		height: 100%;
		@media screen and (min-width: 992px) {
		height: 60%;	
		}
		h1{ 
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;
			.index-logo{ 
				max-width: 100%;
				max-height: 100%;
			}
			.index-enter{
				text-indent: -9999px;
				overflow:hidden;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}	
	}
}


.footer{
	position: relative;
	box-shadow: none;
}