@import "color";
:root{
	--bs-primary: $blue;
}
/* ******* ******* ******* ******* ******* ******* ******* */
/*template*/
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family:Arial, Helvetica, sans-serif, "Microsoft JhengHei";
	font-size: 18px;
	line-height:2;
	color:#555;
	margin-bottom:835px;
	@media screen and (min-width: 768px) {
	margin-bottom:373px;
	}
	@media screen and (min-width: 992px) {
	margin-bottom:270px;	
	}
}
a{
	text-decoration: none;
	color: $blue;
}
a.sr-only-goContent, a.visually-hidden-goContent{
	background-color:#524932;
	color:#FFF;
	position:absolute !important;
	top:0;
	left:0;
	text-decoration:none;
	font-size:12px;
	padding:5px 8px 0px 5px;
	&:active, &:focus {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}
@media screen and (max-width: 991px) {
.header{
	border-top:10px solid $brown;
	border-bottom: 2px solid $brown;
	background-color: #FFF;
	background-image:url(../images/indexBG.jpg);
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-position: center bottom 50%;

	.navbar-brand{
		display: block;
		max-width: calc(100% - 5rem);
		margin: 0 auto 0 0;
		padding: 0;
	}
	.navbar-toggler{
		background-color: $brown;	
		padding-left: .5rem;
		padding-right: .5rem;
		&:focus{
			box-shadow: none;
		}
		&[aria-expanded="false"]{
			.navbar-toggler-icon{
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
			}
		}
		&[aria-expanded="true"]{
			.navbar-toggler-icon{
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
				background-size: 60%;
			}
		}
	}
	.navbar-collapse{
		position: fixed;
		background-color: #fff;
		top: 15%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1050;
		overflow-x: auto;
		&.show{
			display: flex;	
			flex-direction: column;
			>nav{
				width: 100%;
			}
			.nav-tools{
				order: 12;
			}
		}
	}
	
	.guide-U{
		display: inline-block;
		color: $brown;
		font-size: .9em;
		font-weight: bold;
		position: relative;
		margin-left: 15px;
		margin-right: auto;
		&:focus, &:hover, &:active{
			background-color:#1e7eb7;
			color:#FFF !important;
			text-decoration:none;
		}
	}
	
	.nav-tools, .nav-main, .nav-sys{ 
		.nav-link{
			color: #5a5a5a;
			font-size: 1.1em;
			text-shadow: 1px 1px rgba(255,255,255,.5),
						 2px 2px 4px rgba(255,255,255,1),
						-1px -1px 5px rgba(255,255,255,1);
			border-bottom:1px solid #ddd;
			padding: 5px 15px;
			&:hover, &:focus{
				background-color: #ebebeb;
			}
		}
		.nav-main-sub{ 
			display: none;
			border-bottom:1px solid #ddd;
			.nav-link{
				font-size: 1em;	
				padding: 0px 15px 0px calc(15px + 1em); 
				text-shadow: none;
				border-bottom: none;
				background-color: transparent;
				&:hover, &:focus{
					background-color: #ebebeb;
				}
				&:active, &.active{
					color: #fff;
					background-color: $blue;
				}
			}

		}
		
		.nav-item.active{ 
			.nav-link{
				background-color: lighten($brown, 50%);	
				&:hover, &:focus{
					color:#5a5a5a;
					background-color: lighten($brown, 50%);	
				}
			}
			.nav-main-sub{ 
				.nav-link{
					background-color: #fff;	
					&:hover, &:focus{
						background-color: #ebebeb;
					}
					&:active, &.active{
						color: #fff;
						background-color: $blue;
					}
				}
			}
		}
		
		.nav-main-sub.show{
			display: block;
		}
	}
}
}	
@media screen and (min-width: 992px) {
.header{
	border-top:10px solid $brown;
	border-bottom: 2px solid $brown;
	background-color: #FFF;
	background-image:url(../images/indexBG.jpg);
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-position: center bottom 50%;
	border-bottom: 46px solid lighten($brown, 50%);	
	.navbar{
		padding: 0;
	}
	.navbar-brand{
		margin: 0 auto 0 0;
		padding: 0;
	}
	.navbar-collapse{
		background-color: transparent;
		position: initial;
		border-radius: 0;
		box-shadow: none;
	}	
	
	.guide-U{
		color: $brown;
		font-size: .9em;
		font-weight: bold;
		position: absolute;
		top: 0;
		right: calc(.75rem + (1em*4 + 10px)*3 + (1em + 10px));
		&:focus, &:hover, &:active{
			background-color:#1e7eb7;
			color:#FFF !important;
			text-decoration:none;
		}
	}
		
	.nav-tools{ 
		position: absolute;
		top: 0;
		right: .75rem;
		.nav-link{
			color: $brown;
			font-size: 0.9em;
			margin-left: 15px;
			text-shadow: 1px 1px rgba(255,255,255,.4);
			padding: 0;
			&:hover, &:focus, &:active{
				text-decoration:none;
				color:$blue;
			}
		}
	}
	.nav-main{ 
		.nav-link{
			height:50px;
			color:#5a5a5a;
			font-size: 1.1em;
			line-height: 1;
			text-shadow:1px 1px rgba(255,255,255,.5),
						2px 2px 4px rgba(255,255,255,1),
						-1px -1px 5px rgba(255,255,255,1);
			border-radius:5px 5px 0 0;
			padding: 15px 10px;
			&:hover, &:focus{
				background-color: transparent;
				color:$blue;
			}
		}
		.nav-main-sub{
			display: none;
		}
		.nav-item.active{ 
			.nav-link{
				background-color: lighten($brown, 50%);	
				&:hover, &:focus, &:active{
					color:#5a5a5a;
					background-color: lighten($brown, 50%);	
				}
			}
			.nav-main-sub{
				display: flex;
				flex-wrap: nowrap;
				white-space: nowrap;
				max-width: 100%;
				border-radius: 0;
				position: absolute;
				.nav-link{
					background-color: transparent;
					font-size: 1em;
					text-shadow: none;
					height: 46px;
					&:hover, &:focus, &:active,
					&.hover, &.focus, &.active{
						color: $blue;	
					}
				}
			}
		}
	}
	.nav-sys{
		position: absolute;
		bottom: -10px;
		right: .75rem;
		.nav-item{
			margin-left: 10px;	
		}
		.nav-link{
			text-align: center;
			width: 104px;
			height: 119px;
			color: #FFF;
			line-height: 1.4;
			font-weight: bold;
			padding-top: 30px;
			background-repeat: no-repeat;
			background-position: 0px 0px;
			text-shadow: 1px 1px rgba(0,0,0,.5);
			&.goAdmin{ 
				background-image: url(../images/btn-link-orange.png);
				text-indent: -9999px;
				overflow: hidden;
			}
			&.goTest{
				background-image: url(../images/btn-link-blue.png);
				text-indent: -9999px;
				overflow: hidden;
			}
			&.goReport{
				background-image: url(../images/btn-link-yellow.png);
				text-indent: -9999px;
				overflow: hidden;
			}
			&:hover, &:focus, &:active{
				background-position: 0px -119px;
				background-color: transparent;
				transform: translateY(3px);
			}
		}
	}	
	
	.navi-tab3, .navi-tab4, .navi-tab5{
		.nav-main-sub{
			transform: translateX(-37.5%); 
		}
	}
	.navi-tab6{
		.nav-main-sub{
			transform: translateX(calc(-100% + 37.5%)); 
		}
	}
}
}	
@media screen and (min-width: 1200px) {
.header{
	background-image:url(../images/headerBG.jpg);	
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-position: center center;
	.nav-main{ 
		.nav-link{
			padding: 15px 25px;
		}
	}
}			
}
@media screen and (min-width: 1400px) {
.header{
	.nav-main{ 
		.nav-link{
			transform: translateX(calc((-104px - 10px)*1.5));
		}
	}
	
}		
}

.content{
	padding-bottom: 2rem;
}
.breadcrumb{
	background-color:transparent;
	font-size: 0.8em;
	padding: 8px 15px 8px 5px;
    margin-bottom: 20px;
	.breadcrumb-item{
		> a{
			color: $brown;
			&:hover{
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}
	}
	.breadcrumb-item.active{
		> a{
			color: #777;	
		}
	}
	.breadcrumb-item +.breadcrumb-item::before {
		color: #ccc;
	}
}
.footer{
	box-shadow:0px -2px 8px rgba(237,197,231,.7);
	background-color:#f8f8f8;
	color:#666;
	font-size:0.9em;
	position: absolute;
	bottom: 0;
	width: 100%;

	.footer-map{
		padding:15px 0;
		line-height:1.5;
		.nav-map{
			margin-bottom:0px;
			flex-direction: column;
			@media screen and (min-width: 768px) {
			flex-direction: row;	
			}
			> li{
				> a { 
					padding: 0px 15px 0px 0px;
				}
			}
			.nav-link{
				text-align: left;
				padding:  0.25rem .5rem;
				flex-direction: column;
			}
		}
	}
	
	.footer-copyright{
		padding:15px 0;
		border-top:1px solid #ccc;	
		>.container{
			[class*="col-"]{
				&:nth-child(1){
					text-align: center;
					img{
						display: block;
						margin: 10px auto;
					}
				}
				&:nth-child(2){
					text-align: center;
					img{
						margin-left: .25rem;
					}
				}
				&:nth-child(3){
					text-align: center;
					margin-top: 10px;
				}
			}
			@media screen and (min-width: 768px) {
			[class*="col-"]{
				&:nth-child(1){
					text-align: center;
					img{
						display: inline;
						margin: 10px;
					}
				}
				&:nth-child(2){
					text-align: left;
					img{
						margin-left: .25rem;
					}
				}
				&:nth-child(3){
					text-align: right;
					margin-top: 0px;
				}
			}	
			}
			@media screen and (min-width: 1200px) {
			[class*="col-"]{
				&:nth-child(1){
					text-align: left;
					img{
						display: inline;
						margin: 5px;
					}
				}
				&:nth-child(2){
					text-align: left;
					img{
						margin-left: .25rem;
					}
				}
				&:nth-child(3){
					text-align: right;
					margin-top: 0px;
				}
			}		
			}
		}
	}
}
/* ******* ******* ******* ******* ******* ******* ******* */
/*UI*/
.bg-success{ background-color: #dff0d8;
	th, td{
		background-color: #dff0d8;
	}
}
.bg-info{    background-color: #d9edf7;
	th, td{
		background-color: #d9edf7;
	}
}
.bg-warning{ background-color: #fcf8e3;
	th, td{
		background-color: #fcf8e3;
	}
}
.bg-danger{  background-color: #f2dede;
	th, td{
		background-color: #f2dede;
	}
}
.bg-green{	color:#fff; background-color:$green;}
.bg-blue{ 	color:#fff; background-color:$blue;}
.bg-orange{ color:#fff; background-color:$orange;}
.bg-gray {background-color:#ebebeb;}
.border-green{	border-color:$green;}
.border-blue{ 	border-color:$blue;}
.border-orange{ border-color:$orange;}
.align-middle{ 
	vertical-align:middle;
	th, td{vertical-align:middle!important;}
}
.text-center{
	th, td{ text-align:center!important;}
}
.TAA-page{
	margin: 20px 0 40px 0;
	> span{
		span, a{
			display:inline-block;
			color: $blue;
			font-size: .9rem;
			line-height: 1;
			min-width: 2rem;
			min-height: 2rem;
			text-decoration:none;
			margin: 0 5px;
			border-radius: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&:hover, &:active, &:focus{
				color: #23527c;
    			background-color: #eee;
    			border-color: #ddd;
			}
			&.active{
				color: #fff;
    			background-color: #337ab7;
    			border-color: #337ab7;
				border-radius: 100%;
			}
		}
	}
}
.goTop{
	display:none;
	position:fixed;
	z-index:1000;
	bottom:114px + 15px;
	width:48px;
	height:48px;
	cursor:pointer;
	background-color:transparent;
	border:none;
	background-image:url(../images/goTOP.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-position:0px 0px;
	right:10px;
	text-indent:-9999px;
	overflow:hidden;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	/* IE10+ specific styles go here */  
	right:20px;
	}
	&:hover, &:active, &:focus{
		background-position:0px -50px
	}
}
.guide-C{ 
	color:$brown;
	margin-top:3px;
	margin-left:-4px;
	font-size:1em;
	&:focus, &:hover, &:active{
		background-color:#1e7eb7;
		color:#FFF !important;
		text-decoration:none;
	}
}
.guide-Z{
	color:$brown;
	font-size:1em;
	line-height: 1.8;
	font-weight:bold;
	&:focus, &:hover, &:active{
		background-color:#1e7eb7;
		color:#FFF !important;
		text-decoration:none;
	}
	@media screen and (min-width: 768px) {
	float:left;	
	}
}
.content{
	&.withBg{
		background-color:#FFF;
	}
	//h2, 
	.page-title{
		text-align:center;
		background-color:lighten($brown, 10%);
		border-radius:8px;
		color:#FFF;
		padding:10px 0;
		border: 2px dashed #FFF;
		box-shadow:	 4px  4px lighten($brown, 10%),  
					-4px -4px lighten($brown, 10%),  
					-4px  4px lighten($brown, 10%), 
					 4px -4px lighten($brown, 10%);
		font-weight:bold;
		margin-bottom: 30px;
		>small{
			color:#FFF;
		}
	}
	//h3, 
	.page-sub-title{
		line-height:1.4;
		background-image:url(../images/spot.png);
		background-repeat:no-repeat;
		background-position: left center;
		padding-left:25px;
		font-weight:bold;
		color:#524932;
	}
	
	p{
		margin-bottom:2em;
		padding-left:25px;
	}
	hr{
		margin-bottom: 35px;
		border-top: 2px dashed lighten( $brown, 30%);
		opacity: 1.0;
	}
	
	.section-padding{
		padding-left:25px;
	}
	.list-group{
		.list-group-item{
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom: 1px dashed #ddd;
			margin-bottom: 0px;
		}
		&.bottomNone{
			.list-group-item:last-child{
				border-bottom: none;
			}
		}
	}
	.list-with-icon{
		.list-group-item{
			padding-left:35px;
			background-repeat:no-repeat;
			background-position:left center;
		}
	}
}
.btn-primary{
	background-color: $blue;
	border-color: $blue;
	&:hover, &:focus,
	&.hover, &.focus{
		background-color: darken($blue, 10%) !important;
		border-color: darken($blue, 10%) !important;	
	}
	&:active,
	&.active{
		background-color: darken($blue, 10%) !important;
		border-color: darken($blue, 10%) !important;	
	}
}
/* ******* ******* ******* ******* ******* ******* ******* */
/*News*/
.news-list{ 
	>li{ 
		.news-data{
			float:left;
			background-color: $green;
			color:#FFF;
			font-size:.9em;
			padding:0px 10px;
			border-radius:8px;
			@media screen and (max-width: 420px) {float:none;}
		}
		.news-topic{
			padding:0px 5px;
			padding-left:6em;
			@media screen and (max-width: 420px) {padding-left:0;}
		} 
	}
}

/*About*/
.about3-list{ 
	margin:0 0 2em 0;
	padding:0 0 0 25px;
	
	li{ 
		list-style:none;
		margin-bottom:1em;
		
		.about3-list-version{
			text-align:center;
			border-radius:8px;
			font-weight:bold;
			border-width:2px;
			border-style: solid;
		}
		
	}
}

.paper-list{
	> li{
		padding-left:2em;
		text-indent:-2em;
		a{
			text-indent: 0;
		}
	}
}
/*Content*/
.list-Content5{
	.list-group-item{
		padding: 1rem 1rem;
		&:hover, &:focus, &:active{
			color:$blue;
		}
		&:last-child{
			border-bottom: none;
			
		}
	}
}

/*Course*/
.panel-Course2{
	margin-bottom: 2rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
	.panel-heading{
		padding: .75rem 15px;
		border-bottom: 1px solid transparent;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		>h3{
			line-height: 1.4;
			background-image: none;
			padding-left: 0px;
			font-weight: bold;
			color: inherit;
			font-size: 1.2em;
			margin-top: 0px;
    		margin-bottom: 0px;
		}
	}
	.list-group{
		&.list-with-icon{
			.list-group-item{
				padding-left:35px + 15px;
				background-position: left 15px center;
				&:hover, &:focus, &:active{
					color:$blue;
					background-color: #f5f5f5;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
}
.panel-Course2.panel-danger{
	border-color: #ebccd1;
	>.panel-heading {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
	.list-group{
		.list-group-item{
			border-bottom-color:#ebccd1;
		}
	}
}
.panel-Course2.panel-warning{
	border-color: #faebcc;
	>.panel-heading {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}
	.list-group{
		.list-group-item{
			border-bottom-color:#faebcc;
		}
	}
}
.panel-Course2.panel-success{
	border-color: #d6e9c6;
	>.panel-heading {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	.list-group{
		.list-group-item{
			border-bottom-color:#d6e9c6;
		}
	}
}
.panel-Course2.panel-purple{
	border-color: #e2b9e2;
	>.panel-heading {
		color: #6d4181;
		background-color: #f6eaf6;
		border-color: #e2b9e2;
	}
	.list-group{
		.list-group-item{
			border-bottom-color:#e2b9e2;
		}
	}
}

/*Activity*/
.table-activity{
	text-align:center;
	border:1px solid #ddd;
	thead{
		tr{
			th{
				text-align:center;
				vertical-align:middle;
				&:nth-child(1){ width:12em;}
				&:nth-child(2){}
				&:nth-child(3){ width:6em; }
				&:nth-child(4){ width:6em; }
			}
		}
	}
	tbody{
		tr{
			td{
				vertical-align:middle;
				border-style: dashed;
				&:nth-child(1){ font-size:0.9em;}
			}
		}
	}
	
}
/*FAQ*/
.qa{
	margin-bottom:40px;
	.panel{  
		border:1px solid #ddd;
		border-radius:0;
		margin:0-1px 0px 0px 0px !important;
		.panel-heading{
			padding: 0px;
			a{
				display:block;
				font-size:1.2em;
				text-decoration:none;
				padding: 15px 15px 15px 43px;
				background-image: url(../images/qa_q.png);
				background-repeat: no-repeat;
				background-position: left 5px top 10px;
				&:hover, &:focus, &:active{
					color:$blue;
					background-color:#f5f5f5;
					
				}
				/*&:focus, &:active{
					background-color:#FFF;
					color:#FFF;
					border-bottom:none;
				}*/
			}
			.panel-title{
				line-height: 1.4;
				background-image: none;
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 0px;
				font-weight: normal;
				color: inherit;
			}
		}
		
		.panel-collapse.collapse.in{
			borer-top:none;
		}
		.panel-body{
			background-color: #fff;
			background-image: url(../images/qa_a.png);
			background-repeat: no-repeat;
			background-position: left 5px top 15px;
			padding-left:43px;
			border-bottom:2px solid #ddd;
			color:#333;
			borer-top:none;
		}
	}
}
//FAQ - BS5
.qa{
	.accordion{
		.accordion-item{
			border: none;
			margin: 0 !important;
			&:not(:last-child){
				/*border-bottom: 1px dashed #ddd;*/
				
			}
			.accordion-header{
				.panel-title{
					margin: 0;
				}
				.accordion-button{
					font-size: 1.2rem;
					border-radius: 0;
					padding: 1.5rem 15px 1.5rem 43px;
					background-position: left 5px center;
					border-bottom: 1px dashed var(--bs-accordion-border-color);
					&:hover{
						font-weight: bold;
					}
					&:not(.collapsed){//打開的
						background-color: lighten($blue, 52.5%);	
						box-shadow: none;
						color: $blue;
						font-weight: bold;
						border: 1px solid var(--bs-accordion-border-color);
						border-bottom: none;
						border-top-left-radius: var(--bs-accordion-inner-border-radius);
   						border-top-right-radius: var(--bs-accordion-inner-border-radius);
						position: relative;
						&::before{
							content: "";
							display: block;
							width: calc(100% + 2px);
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: -2px;
							left: -1px;
							right: -1px;
						}
					}
				}
			}
			.accordion-body{
				border-bottom: none;
				padding-top: 0;
				background-position: left 5px top 0;
				background-color: lighten($blue, 52.5%);
			}
			.collapse.show .accordion-body{//打開的
				border: 1px solid var(--bs-accordion-border-color);
				border-top: none;
				border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
   				border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
			}
		}
	}
}
/*contact*/
.contact-icon{
	.glyphicon{
		background-color:#f3df4e;
		color:$brown;
		font-size:1.8em;
		width:1.8em;
		height:1.8em;
		line-height:1.7;
		border-radius:50%;
		border:2px dashed $brown;
	}
	
}
/*map*/
.nav-map{
	margin-bottom:40px;
	> li{
		> a {
			font-weight:bold;
			text-align:left;
			color:#333;
			padding: 10px 15px 10px 0px;
			&:hover, &:focus, &:active{
				background-color:transparent;
				color:$blue;
			}
		}
		> ul{
			padding:0;
			
			> li{
				list-style:none;
				> a{
					font-size:0.85em;
					color:#666;
					&:hover, &:focus, &:active{
						background-color:transparent;
						color:$blue;
					}
					&:before{
						content:"- ";
					}
				}
			}
		}
	}
}




