///******* Customized Bootstrap ********/
$primary: #91252a;
$secondary: #987444;
$light: #e6e6e6;

$font-family-base: Arial, Helvetica, "sans-serif";  

$enable-responsive-font-sizes: true;

$border-radius: 8px;

$link-decoration: none;

$enable-negative-margins: true;

@import "bootstrap/_bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.text-gray-100 { color: $gray-100;}
.text-gray-200 { color: $gray-200;}
.text-gray-300 { color: $gray-300;}
.text-gray-400 { color: $gray-400;}
.text-gray-500 { color: $gray-500;}
.text-gray-600 { color: $gray-600;}
.text-gray-700 { color: $gray-700;}
.text-gray-800 { color: $gray-800;}
.text-gray-900 { color: $gray-900;}

.bg-gray-100 { background-color: $gray-100;}
.bg-gray-200 { background-color: $gray-200;}
.bg-gray-300 { background-color: $gray-300;}
.bg-gray-400 { background-color: $gray-400;}
.bg-gray-500 { background-color: $gray-500;}
.bg-gray-600 { background-color: $gray-600;}
.bg-gray-700 { background-color: $gray-700;}
.bg-gray-800 { background-color: $gray-800;}
.bg-gray-900 { background-color: $gray-900;}

.fs-7{ font-size: .9rem;}
.fs-8{ font-size: .8rem;}
///* ******* ******* ******* ******* ******* ******* ******* */

html, body{
    font-size: 15px;
    @media screen and (min-width: 768px) {
    font-size: 16px;    
    }
    @media screen and (min-width: 992px) {
    font-size: 18px;    
    }
    @media screen and (min-width: 1200px) {
    font-size: 20px;    
    }
}
.header1{
    width: 100%;
    height: 40px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    img{
        max-width: 100%;
    }
}
.header2{
    width: 100%;
    min-height: 200px;
    background-color: $primary;
    //background-image: url("../images/banner-img.png"), url("../images/banner-bg-red.png"), url("../images/banner-bg.png");
    //background-size: 100% 100%, 100% 100%, 100% 100%;
    display: flex;
    align-items: center;
    position: relative;
    h1{
        margin-bottom: 0;
        color: #FFF;
        text-align: center;
        font-size: 3.6rem;
        font-weight: bold;
        font-family: 'Helvetica', 'Helvetica Narrow';
        line-height: 1;
        a {
            color: #FFF;
        }
    }
    .btn-subscribe{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        /*
        top: 0;
        right: .75rem;
        padding-left: 1rem;
        padding-right: 1rem;*/
        /*@media screen and (min-width: 576px) {
        top: calc(100% - 1rem);     
        }
        @media screen and (min-width: 768px) {
        top: auto;    
        bottom: 0;  
        }
        @media screen and (min-width: 992px) {
        top: 0;     
        bottom: 0;   
        }*/
        &:hover{
            color: $primary;
        }  
    }
    .number{
        background-color: rgba(255,255,255, 1);
        font-size: .8rem;
        line-height: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 .75rem;
        height: 40px;
        display: flex;
        align-items: center;
        &::before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 40px 40px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            top:0;
            left: -40px;
        }
    }
    @media screen and (min-width: 768px) {
    .number{
        background-color: rgba(255,255,255, .5);
        font-size: 1rem;
        line-height: 1;
        position: absolute;
        bottom: 0;
        right: .75rem;
        padding: .55rem 1.5rem;
        height: auto;
        display: flex;
        align-items: center;
        
        background-color: rgba(255,255,255, .5); 
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0,0,0,.25);
        font-size: 1rem;
        &::before{
            display: none;    
        }
    }
    }
}
.header3{
    background-color: $light;
    img{
        opacity: .5;
        &.active{
            opacity: 1.0;    
        }
    }
}
footer{
    background-color: $primary;
    //background-image: url("../images/banner-bg.png");
    //background-size: 100% 100%;
    color: #fff;
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.btn-primary{
    border-radius: 2rem;
    border: none;
    /*font-family: 'Helvetica', 'Helvetica Narrow';
    font-weight: bolder;
    font-stretch: condensed;*/
    padding: 0.25rem 1rem;
}
p{
    font-size: .95rem;
    line-height: 2;
    color: $gray-800;
}
.paper-format{
    padding-left: 4rem;
    text-indent: -4rem;
    color: $gray-600;
    a {
        color: darken($blue, 12%);
        &:hover, &:focus, &:active{
            color: darken($blue, 12%);
            box-shadow: 0 1px darken($blue, 12%);
        } 
    }
}

///* index */
.issue{
    .issue-item{
        > [class*="container"] > .row{
            align-items: flex-start;
        }
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ddd;
        a{
            color: $blue;
            &:hover, &:focus, &:active{
                color: $blue;
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
        h2{
            font-family: 'Helvetica', 'Helvetica Narrow';
            font-stretch: condensed;    
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: .5rem;
            small{
				font-family: $font-family-base;
            	font-stretch: normal;
				font-weight: 500;
    			font-size: .55em;
				color: $gray-600;
            }
            .h2-icon{
                margin-left: .25rem;
                margin-right: auto;
                width: auto;
                height: 1em;
            }
        }
        h3{
            font-size: 1rem;  
            font-weight: bold;
        }
        h4{
            font-size: 1rem;
			padding-left: .75rem;
        }
        .item-imgLink{
            position: relative; 
            display: block;
            //border-radius: .5rem;
            overflow: hidden;
            &:hover{
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0, .5); 
                    z-index: 2;
                }
                &::after{
                    content: "Know More";
                    display: inline-block;
                    padding: 0.25rem 0.75rem;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $primary;
                    color: #fff;
                    font-family: 'Helvetica', 'Helvetica Narrow';
                    font-stretch: condensed;    
                    font-weight: bold;
                    z-index: 3;
                }
            }
        }
        .item-list{
            padding: 0;
            margin: 0;
			padding-left: .75rem;
            li{
                list-style-type: none;
                color: $primary;
                font-size: .9rem;
                margin-bottom: .5rem;
                width: 100%;
                white-space:nowrap; 
                overflow:hidden;
                text-overflow:ellipsis;
                &::before{
                    content: "\F285";
                    font-family: "bootstrap-icons";
                    font-size: .75em;
                    margin-right: .5em;
                }
                a{
                    color: $primary;
                    &:hover, &:focus, &:active{
                        color: $primary;
                        text-decoration: underline;
                        text-underline-offset: 5px;
                    }
                }
            }
           
        }
    }
	.issue-item:not(.show){
		padding-top: 1rem;
    	padding-bottom: 1rem;
		> [class*="container"] > .row{
			> [class*="col-"][class*="-4"] {
				width: 33.33333333%;//col-4
				@media screen and (min-width: 992px) {
					width: 16.66666667%;//col-2	
					margin-left: 16.66666667%;
				}
			}
			> [class*="col-"][class*="-8"]{
				width: 66.66666667%;//col-8
				@media screen and (min-width: 992px) {
				
				}
				> :not(h2){
					display: none;
				}
			}
		}
		&:hover{
			cursor: pointer;
			background-color: $light;
		}
		h2{
			flex-wrap: wrap;
			margin-top: 0;
			small{
				width: 100%;
            }
		}
		.item-imgLink{
            &:hover{
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
        }
	}
	
    .issue-pagination{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
        .pagination{
            .page-item{
                .page-link{
                    border: none;
                    margin: 0 .5rem;
                }
            }
        }
    }
}

///* ISSUE */
main > .bg-light{
    background-color: $gray-100 !important;
}
.nav-parts{
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    .nav-link{
        background-color: transparent;
        border-radius: .5rem .5rem 0 0;
        color: $gray-600;
        font-size: .9rem;
        &:hover{
            color: $blue;    
        }
        &.active{
            background-color: #fff;
            color: $primary;
            font-weight: bold;
        }    
    }
}
.issueContent{
    .part-title{
        font-family: 'Helvetica', 'Helvetica Narrow';
        padding-top: 2rem;
        padding-bottom: 2rem;
        > div{
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            background-image: url("../images/banner-img.png"),  url("../images/banner-bg.png");
            background-size: 100% 100%, 100% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //text-transform: uppercase;   
        }
    }
    h2{
        margin-bottom: 1rem;
        color: $primary;
        //font-family: 'Helvetica', 'Helvetica Narrow';
        font-stretch: condensed;    
        font-weight: bold;
    }
    h2.text-center{
        font-family: Arial, Helvetica, "sans-serif"; 
        >small{
            display: block;
            margin-bottom: 1rem;          
            >span{
                display: inline-block;
                padding-left: 1rem;
                padding-right: 1rem;
                border-bottom: 2px solid lighten($primary, 10%);
                font-size: 75%;
                color: lighten($primary, 10%);
                text-transform: uppercase;
            }
        }    
    }
    h3{
        font-family: 'Helvetica', 'Helvetica Narrow';
        font-stretch: condensed;    
        font-weight: bold; 
    }
    .issueContent-item{
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:nth-child(odd){
            background-color: #fff; 
        }
        &:nth-child(even){
            background-color: $light;
        }
        .item-list{
            margin: 0;
            padding: 0;
            font-size: .9rem;
            li{ 
                list-style-type: none;
                color: $secondary;
                margin-top: .25rem;
                margin-bottom: .25rem;
                padding-left: .75em + .5em;
                text-indent: -.75em - .5em; 
                &::before{
                    content: "\F285";
                    font-family: "bootstrap-icons";
                    font-size: .75em;
                    margin-right: .5em;
                }
                a{
                    color: $secondary;
                    &:hover, &:focus, &:active{
                        color: darken($secondary, 12%);
                        box-shadow: 0 1px darken($secondary, 12%);
                    }    
                }
            }
        }
    }
}

.issueContent-item:nth-child(odd){
    .hr-dashed{
       background: linear-gradient(to right, transparent 5px, $gray-300 5px);
       background-size: 10px 100%;
    }
}
.issueContent-item:nth-child(even){
    .hr-dashed{
       background: linear-gradient(to right, transparent 5px, $gray-600 5px);
       background-size: 10px 100%;
    }
}

.issueContent.v2 {
    .issueContent-item{
        &:nth-child(even){
            background-color: $gray-100;
        }
    }
}

///* ISSUE for each special */
@import "ISSUE";

//2024, After ISSUE 5, changed to pdf
.pdf-container canvas {
    min-width: 100%;
}
