body {
	background-color: #FFF;
	font-size: 18px;
}
.wrapper {
	background-color: #FFF;
}
.integrate{
	position:relative;
	height:1380px;
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.frontCover {
	background-size: 100% 100%;
	padding-top:860px;
	
	.logo {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.logoWords {
		width: 100%;
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.session{ 
		width:373px;
		height:65px;
		line-height:62px;
		position: absolute;
		top:367px;
		left:0px;
		color:#FFF;
		font-weight:bolder;
		font-size:42px;
		font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei";
		padding-left:80px;
		> b { 
			font-size:50px;
			vertical-align: middle;
		}
	}
	> h1 {
		> img { 
			width:360px;
			float:right;
			margin-right:72px;
		}
	}
}

table.frontCover-table { 
	font-size: 36px;
	width: 84.2%;
	margin: 0px auto 0px auto;
	
	th { 
		width: 23%;
		color: #inherit;
		border-bottom: 2px dotted;
		padding: 10px 0px;
		text-align: center;
		font-size:25px;
		white-space:nowrap;
		&.spacing { 
			letter-spacing:.02em;
		}
	}
	&.DACC th {color: inherit;}
	td {
		border-bottom: 2px dotted;
		padding: 10px 0px;
	}	
	
}
.frontCover ul.unit { 
	display: block;
	margin: 120px auto 0px auto;
	position:absolute;
	bottom:70px;
	width:100%;
	text-align:center;
	li {
		color: #FFF;
		margin-bottom: 30px;
		
		> img {
			display: block;
			margin:0px auto;
		}
	}
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.titleCover{
	h1.explanation{
		padding-top:130px;
		> img {
			width: auto;
			display: block;
			margin: 0px auto 0px auto;
		}
	}
	.text {
		width: 83%;
		margin: 20px auto 0px auto;
		padding: 35px 40px 0px 40px;	
		font-size:24px;	
		
		big{
			display:block;
			text-align:center;
			color:#643F33;
			font-weight:700;
			font-size:36px;
		}
	}
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.integrate{
	h2{ 
		font-size:24px;
		font-weight:normal;
		
		& .icon{ 
			width:42px;
			height:42px;
			line-height:42px;
			display:inline-block;
			border-radius:5px;
			text-align:center;			
			vertical-align:middle;
			color:#FFF;
			
			>img {
				width:100%;
				height:100%;
			}
		}
		b {
			color:#004795;
		}
	}
	small{ font-size:16px; color:#666;}
}
ul.paperData-integrate{
	padding:0px 15px;
	margin-bottom:30px;
	li {
		width: 40%;
		float: left;
		line-height: 37px;
		text-indent: 28px;
		font-weight: bold;
		text-align:center;
		
		&:first-child{
			background-image:none;
			text-indent: 0px;
			width:20%;
			text-align:left;
		}
		&:last-child{
			text-align:right;
		}
	}
}
table.integrateTable {
	margin:6px 0px;
	text-align:center;
	
	&.tableLeft{ 
		width:49.8%; 
		float:left;
	}
	&.tableRight{ 
		width:49.8%; 
		float:right;
	}
	
	.shareTd{
		display:inline-block;
		&.td1{
			width:48%;
			text-align:right;
		}
		&.td2{
			width:4%;
			text-align:center;
		}
		&.td3{
			width:48%;
			text-align:left;
		}
	}
	
	th, td { 
		border:1px solid #ccc;
		line-height:2em;
	}
	
	thead, .thead{
		th, td{
			color:#FFF;
			font-weight:bold;
			line-height:1.4em;
			padding:5px 0px;
		}
	}
	tbody{
		th{ background-color:#ebebeb;}
	}
	
	th.separation, td.separation{
		height:3px;
		background-color:#666;
	}
}
table.integrateTable.main{
	thead, .thead {
		th, td {
			background-color:#914897;
		}
	}
}
.integrateMark{ 
	color:#666;
	li{ 
		margin-bottom:10px;
	}
	
	.AwardCertificate{
		padding-left:6em;
		> li{ 
			list-style: none;
			width:50%;
			float:left;
			margin-bottom:0px;
		}
	}
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
h3 {
	margin-top:-30px;
	margin-bottom:30px;
	border-bottom:none;
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.img-reward{
	display:block;
	margin:10px auto;
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
@media print {

.integrate{
	small{color:#333;}
}
.integrateMark{ 
	color:#333;
}

}