$primary:				#bf2320;
$primary-dark: 	#921d22;
$primary-bg:		#f29b7f;

$secondary:			 #562520; 
$secondary-dark: #231815; 
$secondary-bg:	 #e6d6c8;

$tertiary: 			 #ff8503;
$tertiary-dark:  #c06000;
$tertiary-bg:		 #feebae; 

$body-color:							#333333; 
$body-secondary-color: 		#595757;
$body-tertiary-color: 		lighten($body-secondary-color, 60%);

$border-color: lighten($body-secondary-color, 50%);
$bg-color: 		 lighten($body-secondary-color, 62.5%);

$myScore-color:						$tertiary;
$allScore-color:	 				$primary;


	