@import "var";
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei";
  color: $body-color !important;
}
.wrapper {
  width: 960px;
  margin: 10px auto;
}
.paddingWrapper {
  padding: 0px 15px;
}
hr {
  margin: 20px 15px;
  border: none;
  border-top: 1px solid #ebebeb !important;
}
.redWords {
  color: $primary !important;
}
.blueWords, .correctAns {
  color: $primary !important;
  font-weight: bold;
}
.integrateMark {
  > li {
    line-height: 1.8;
    > span {
      display: block;
      width: auto;
      text-align: left;
      color: $body-color !important;
    }
    i {
      text-indent: 0;
    }
  }
}
.table-striped {
  tbody {
    tr:nth-child(odd) {
      background-color: #FFF !important;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9 !important;
    }
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.forPeople {
  position: relative;
  .people {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
h3 {
  text-align: center;
  background-color: $primary-dark !important;
  color: #FFF !important;
  font-size: 24px;
  > div {
    background-size: 100% 100%;
    padding: 7px 0px;
  }
}
h4 {
  background: linear-gradient(to right, darken($primary-bg, 5%) 0%, lighten($primary-bg, 20%) 100%) !important;
  color: lighten($tertiary-bg, 10%) !important;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0px 0px 15px 0px;
  text-shadow: 0 0 5px rgba($secondary, .25), 1px 1px 2px rgba($secondary, .5) !important;
  > .fa, > i {
    color: #fff !important;
    margin-left: -15px;
    margin-right: 5px;
    text-shadow: none;
  }
}
h5 {
  background-image: url(../images/paper/spot2.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
  background-size: 20px auto;
  font-size: 1em;
  padding-left: 20px;
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
ul.paperData {
  padding: 15px 15px 30px 15px;
  li {
    width: 50%;
    float: left;
    line-height: 37px;
    border-bottom: 1px dashed #898989 !important;
    background-image: url(../images/paper/spot.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 30px auto;
    text-indent: 28px;
    font-weight: bold;
    span {
      color: $secondary-dark !important;
    }
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.frontCover {
  background-size: 100% 100%;
}
.titleCover {
  background-image: url(../images/pdf/titleCover-bg.jpg);
  background-size: 100% 100%;
}
.endCover {
  background-image: url(../images/pdf/endCover-bg.jpg);
  background-size: 100% 100%;
}
ul.paperData-integrate {
  li {
    span {
      color: $secondary-dark !important;
    }
  }
}
table.integrateTable {
  th, td {
    border-color: lighten($myScore-color, 20%) !important;
  }
  thead, .thead {
    th, td {
      background-color: $myScore-color !important;
    }
  }
  tbody, .tbody {
    th, td {
      background-color: lighten($tertiary-bg, 10%) !important;
      color: $secondary-dark !important;
      font-weight: bold;
    }
  }
}
.integrate {
  h2 {
    & .icon {
      background-color: $primary-bg !important;
    }
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.scoreBlock {
  margin: 15px 0px;
  .pen {
    //區塊
    height: 30px;
    padding: 0px 65px 0px 47px;
    background-image: url(../images/paper/penHead.png);
    background-repeat: no-repeat;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    // 鉛筆底圖
    .myPen, .allPen {
      min-width: 13%;
      height: 100%;
      background-position: right;
      background-repeat: no-repeat;
    }
    .myPen {
      background-image: url(../images/paper/penOrange.png);
    }
    .allPen {
      background-image: url(../images/paper/penRed.png);
    }
    // 分數寬度
    .myPenWidth, .allPenWidth {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0px 65px 0px 47px;
    }
    .myPenScore, .allPenScore {
      height: 100%;
      text-indent: 0.5em;
      position: relative;
    }
    .myScore, .allScore {
      position: absolute;
      top: 0;
      left: calc(100% + 2px);
      white-space: nowrap;
      text-indent: 0;
      font-size: 30px;
      font-weight: bold;
			text-shadow: 1px 1px rgba(#fff, 1), -1px -1px rgba(#fff, 1), -1px 1px rgba(#fff, 1), 1px -1px rgba(#fff, 1), 
									 2px 2px rgba(#fff, .1), -2px -2px rgba(#fff, .1), -2px 2px rgba(#fff, .1), 2px -2px rgba(#fff, .1);
    }
    .myScore {
      color: $body-secondary-color !important;
    }
    .allScore {
      color: lighten($body-secondary-color, 20%) !important;
    }
  }
  .rulerBar {
    width: 100%;
    height: 56px;
    background-image: url(../images/paper/ruler.png);
    margin-top: 10px;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
.mark{
	table td{
		padding: 5px 0;
	}
}
.block2 {
  background-color: $bg-color !important;
  border: 1px solid $border-color !important;
  margin-bottom: 6px;
}
table.table-dimension {
  text-align: center;
  th, td {
    border-top: 1px dashed $border-color !important;
    border-right: 1px dashed $border-color !important;
    color: $body-color !important;
    &:last-child {
      border-right: none;
    }
  }
  tr.thead {
    th {
      border-top: none;
      font-weight: 700;
      padding: 5px;
      height: auto;
      color: $body-color !important;
      &:nth-child(1) {
        width: 6em;
      }
      &:nth-child(2) {
        width: 5em;
      }
      &:nth-child(3) {
        width: 5em;
      }
    }
    td {
      font-weight: 700;
      padding: 5px;
      color: $primary !important;
    }
  }
  tr {
    th {
      font-weight: 700;
      height: 150px; 
      color: $primary-dark !important;
    }
    td {
      font-size: .9em;
    }
  }
  .myItemScore {
    width: 25px;
    max-height: 125px;//設定最高
    margin: 0 auto;
    background-image: url(../images/paper/myItemBar.png);
    background-repeat: repeat-y;
    background-position: center bottom;
    border-radius: 2px 2px 0 0;
    border: 1px solid $myScore-color !important;
    border-bottom: none;
  }
  .allItemScore {
    width: 25px;
    max-height: 125px;//設定最高
    margin: 0 auto;
    background-image: url(../images/paper/allItemBar.png);
    background-repeat: repeat-y;
    background-position: center bottom;
    border-radius: 2px 2px 0 0;
    border: 1px solid $allScore-color !important;
    border-bottom: none;
  }
  .myItemScore span {
    background-color: #FFF !important;
    display: block;
  }
  .range {
    height: 30px;
    line-height: 1;
    margin: 5px 0px;
    padding: 3px 3px;
    text-shadow: 1px 1px #fff !important;
    font-size: 8px;
    color: #999 !important;
    background-color: #FAFAFA !important;
    border: 1px solid #ebebeb !important;
    border-radius: 50px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5) !important;
    /*white-space: nowrap;*/
  }
  .bar {
    width: 100%;
    height: 110px;
    margin: 0px auto;
    background-image: url(../images/paper/reward.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85% auto;
  }
  .barGray {
    width: 100%;
    height: 110px;
    margin: 0px auto;
    background-image: url(../images/paper/rewardGray.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85% auto;
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.dimension-text {
  font-size: .95em;
  h4 {
    background: transparent !important;
    padding: 0px;
    > span {
      background: $primary-bg !important;
      color: lighten($tertiary-bg, 10%) !important;
      text-shadow: 0 0 5px rgba($secondary, .25), 1px 1px 2px rgba($secondary, .5) !important;
      padding: 5px 15px;
      border-radius: 20px;
    }
  }
  h4.h4-center {
    text-align: center;
    > span {
      border-radius: 20px 20px 20px 20px;
    }
  }
  p {
    line-height: 1.5;
    text-indent: 2.2em;
  }
  blockquote {
    padding-left: 5em;
		table{
			width: 100%;
			table-layout: fixed;
			line-height: 1.5;
		}
  }
  .ex {
    border: 1px solid $border-color !important;
    padding: 10px 15px;
    background-color: $bg-color !important;
    color: $secondary !important;
    > p {
      text-indent: 0px;
    }
    .ex-ans {
      border-top: 1px dashed $border-color !important;
      padding-top: 10px;
      margin: 10px -15px 0 -15px;
			padding-left: 5em;
			table{
				width: 100%;
				table-layout: fixed;
				line-height: 1.5;
			}
    }
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.left {
  width: 400px;
  float: left;
  padding-left: 15px;
  .medals {
    width: 100%;
    height: 0px;
    padding-bottom: 72%;
    background-size: cover;
    margin: 25px auto 10px auto;
    font-weight: bold;
    position: relative;
    &.medals-1 {
      background-image: url(../images/pdf/Medals-1.png);
    }
    &.medals-2 {
      background-image: url(../images/pdf/Medals-2.png);
    }
    &.medals-3 {
      background-image: url(../images/pdf/Medals-3.png);
    }
    &.medals-4 {
      background-image: url(../images/pdf/Medals-4.png);
    }
    &.medals-5 {
      background-image: url(../images/pdf/Medals-5.png);
    }
    > span {
      color: $secondary !important;
      font-size: 85px;
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: 100px;
      z-index: 10;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    }
    .medalsMark {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      text-align: center;
      color: #FFF !important;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 203px;
      font-size: 20px;
    }
  }
}
.right {
  width: 560px;
  float: left;
  padding-right: 15px;
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
p.indent {
  text-indent: 2em;
}
.table-noraml {
  margin: 0px auto;
  th {
    font-weight: bold;
  }
  th, td {
    height: 40px;
    border: 1px solid #999 !important;
    text-align: center;
  }
  .fillMark {
    color: #C1C1C1 !important;
  }
}
.table {
  margin: 0px auto;
  th {
    text-align: center;
    &.noneSpacing {
      letter-spacing: inherit;
    }
    > span {
      letter-spacing: 0.14em;
    }
  }
  td {
    height: 42px;
    border-bottom: 1px solid #999 !important;
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
.forChart-yAxes-rotate { 
	margin-top: -5px;
	padding-right: 10px;
  position: relative;
  .yAxes-scaleLabel { 
    width: 100%;
    height: auto;
    position: absolute;
    top: calc(-1em - .75em);
    left: 0;
    text-align: left;
		font-size: 14px;
  }
}
.encouragingWords {
  text-align: center;
  width: calc(100% + 15px + 15px + 1px + 1px);
  margin: -15px -16px 0 -16px;
  background-color: $secondary !important;
  font-size: 0.9em;
  color: #f5f5f5 !important;
  padding: 5px 0px;
  border: 1px solid #ccc;
  border-bottom-width: 5px;
  > label {
    font-weight: bold;
    font-size: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, .5) !important;
    color: #fff !important;
    color: $tertiary-bg !important;
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/*set diffrent color*/
.parents {
  .frontCover {
    background-image: url(../images/pdf/frontCover-parents.jpg);
  }
  table.frontCover-table {
    th {
      color: $secondary-dark !important;
      border-bottom-color: lighten($body-secondary-color, 30%) !important;
    }
    td {
      color: $body-secondary-color !important;
      border-bottom-color: lighten($body-secondary-color, 30%) !important;
    }
  }
  h3 > div {
    background-image: url(../images/pdf/h3-line-parents.png) !important;
  }
}
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/** ******* ******* ******* ******* ******* ******* ******* */
/*@media print {
  body {
    color: #000 !important;
  }
  .scoreBlock {
    .pen {
      .myScore, .allScore {
        color: #000 !important;
      }
    }
  }
  .forChart-yAxes-rotate {
    .yAxes-scaleLabel {
      > span {
        color: #000 !important;
      }
    }
  }
  .scoreBlock {
    .pen {
      .allScore {
        color: #333 !important;
      }
    }
  }
  table.table-dimension {
    .range {
      color: #333 !important;
    }
  }
}*/