<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="VIEW 專為教學設計的線上視訊教室">
<meta name="author" content="VIEW">
<meta property="og:locale" content="zh-TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content="VIEW 專為教學設計的線上視訊教室" >
<meta property="og:description" content="VIEW 專為教學設計的線上視訊教室" >
<meta property="og:url" content="（工程師確定後改寫)">
<meta property="og:image" content="Content/img/logo-og.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="VIEW 專為教學設計的線上視訊教室">
<meta name="twitter:image" content="Content/img/logo-og.png">
<meta itemprop="name" content="VIEW, Vibrant Images in Education Worlds">
<meta itemprop="description" content="VIEW 專為教學設計的線上視訊教室">
<meta itemprop="image" content="Content/images/TEEMI-bot.png">
<title>VIEW 專為教學設計的線上視訊教室</title>
<link href="Content/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+TC:wght@100..900&&display=swap">

<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">

<!-- Libraries Stylesheet -->

<!-- Customized Bootstrap Stylesheet -->
<link rel="stylesheet" href="Content/css/bootstrap-custom.css">

<!-- This web Core Stylesheet -->
<link rel="stylesheet" href="Content/css/styles.css">
</head>

<body class="about">
<form>
  <header class="header"> </header>
  <main class="main">
    <div class="container">
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">專為教育設計的虛擬教室</div>
      </div>
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2 order-last">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">教學白板可切換教學/協作模式</div>
      </div>
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">教師主控台可便利進行教室管理</div>
      </div>
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2 order-last">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">內建教學互動工具 <small>(舉手、課堂獎勵計分、作答回饋)</small></div>
      </div>
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">內建教室錄影</div>
      </div>
      <div class="row mb-5 align-items-center justify-content-center">
        <div class="col-2 order-last">
          <div class="ratio ratio-1x1"> <img src="https://api.fnkr.net/testimg/500x500/777777/FFF/?text=1x1" class="img-responsive rounded-circle" alt=""> </div>
        </div>
        <div class="col-auto fs-4 fw-semibold">聊天室內建AI輔助翻譯</div>
      </div>
    </div>
  </main>
  <footer class="footer"> </footer>
</form>
<!-- JavaScript Libraries --> 
<script src="Content/js/jquery-3.4.1.min.js"></script> 
<script src="Content/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script> 

<!-- This web Javascript --> 
<script src="Content/js/fn.js"></script> 
<script src="Content/js/main.js"></script> 
<script>	
$(document).ready(function () {
	//nav當前頁active
	navActive('about');
});	
</script>
</body>
</html>
