<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="VIEW 專為教學設計的線上視訊教室">
<meta name="author" content="VIEW">
<meta property="og:locale" content="zh-TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content="VIEW 專為教學設計的線上視訊教室" >
<meta property="og:description" content="VIEW 專為教學設計的線上視訊教室" >
<meta property="og:url" content="（工程師確定後改寫)">
<meta property="og:image" content="Content/img/logo.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="362" />
<meta property="og:image:height" content="92" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="VIEW 專為教學設計的線上視訊教室">
<meta name="twitter:image" content="Content/img/logo.png">
<meta itemprop="name" content="VIEW, Vibrant Images in Education Worlds">
<meta itemprop="description" content="VIEW 專為教學設計的線上視訊教室">
<meta itemprop="image" content="Content/images/TEEMI-bot.png">
<title>VIEW 專為教學設計的線上視訊教室</title>
<link href="Content/img/favicon.ico" rel="icon">

<!-- Open Graph -->
<meta property="og:title" content="讚生涯高中生生涯資訊系統" />
<meta property="og:description" content="生涯規劃不再迷惘！讚生涯帶你掌握精彩職涯旅程！" />
<meta property="og:image" content="https://example.com/path/to/image.jpg" />
<meta property="og:url" content="https://example.com/page-url" />
<meta property="og:type" content="website" />

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+TC:wght@100..900&&display=swap">

<!-- Customized Bootstrap Stylesheet -->
<link rel="stylesheet" href="Content/css/bootstrap-custom.css">

<!-- This web Core Stylesheet -->
<link rel="stylesheet" href="Content/css/styles.css">
</head>

<body class="index">
<form>
  <header class="header">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-11">
          <nav class="navbar navbar-expand-xl sticky-top">
            <div class="container-fluid"> <a href="index.html" class="navbar-brand" aria-label="VIEW">
              <h1 class="logo"><img src="Content/img/logo.png" class="img-fluid" alt="VIEW"/></h1>
              </a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                  <div class="nav-item"> <a href="index.html" class="nav-link nav-index">HOME</a> </div>
                  <div class="nav-item"> <a href="about.html" class="nav-link nav-about">ABOUT</a> </div>
                  <div class="nav-item"> <a href="service.html" class="nav-link nav-service">SERVICE</a> </div>
                  <div class="nav-item"> <a href="contact.html" class="nav-link nav-contact">CONTACT US</a> </div>
                  <div class="nav-item"> <a href="faq.html" class="nav-link nav-faq">FAQ</a> </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container-fluid">
      <div class="row align-items-center px-lg-5 justify-content-center gy-4">
        <div class="col-12 col-xl-5">
          <div class="row justify-content-center">
            <div class="col-12"> <img src="Content/img/logo-text.png" class="img-fluid login-img" alt="VIEW"/>
              <h2 class="login-text-en">Vibrant Images in Education Worlds</h2>
              <h3 class="login-text-describe">專為教學設計的線上視訊教室</h3>
            </div>
            <div class="col-9">
              <div class="mb-3">
                <input type="email" class="form-control rounded-pill login-input login-email" id="inputAccount" placeholder="email or username" autocomplete="off">
                <label for="inputAccount" class="visually-hidden">email or username</label>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control rounded-pill login-input login-password" id="inputPassword" placeholder="Password">
                <label for="inputPassword" class="visually-hidden">Password</label>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <button class="btn btn-primary btn-lg text-white rounded-pill w-100" type="button">登入</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-lg text-white rounded-pill w-100" type="button">註冊</button>
                </div>
              </div>
              <div class="text-primary"><a href="">Forgot your Password?</a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-7"><img src="Content/img/index/img.png" class="img-fluid" alt=""/></div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row justify-content-end align-items-center">
        <div class="col-auto"><img src="Content/img/NTNU.png" class="me-4" alt="National Taiwan Normal University"/></div>
        <div class="col-auto">© 2025 College of Education e-Learning Lab. NTNU, All rights reserved. </div>
      </div>
    </div>
  </footer>
</form>
<!-- JavaScript Libraries --> 
<script src="Content/js/jquery-3.4.1.min.js"></script> 
<script src="Content/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script> 

<!-- This web Javascript --> 
<script>	
</script>	
</body>
</html>
